.RouteList {
    // overflow-y: scroll;

    .RouteList-item {
        padding: 1em;
        border-bottom: 1px solid lighten($c-ui-dark, 25);

        &:hover {
            cursor: pointer;
            background-color: darken(white, 2);
        }

        .RouteList-itemTitle {
            font-size: 1.6em;
            margin: 0.3em ;
        }

        > span {
            display: inline-block;
            width: 50%;
            font-size: 1.2em;
            color: lighten($c-text, 50);
        }

        .RouteList-itemAddrCount {
            &:before {
                @include icon($fa-var-map-marker);
            }
        }

        .RouteList-itemHouseholdCount {
            &:before {
                @include icon($fa-var-home);
            }
        }
    }
}
