.RoutePanel {
    background-color: white;

    .RoutePanel-tabs {
        .RoutePanel-routesTab {
            @include tab-button($icon: $fa-var-compass);
        }

        .RoutePanel-generatorTab {
            @include tab-button($icon: $fa-var-magic);
        }
        .Button {
            width: 50%;
            overflow: hidden;
        }
    }

    .RoutePanel-content {
        position: absolute;
        top: 5em;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 2em;
    }

    .RoutePanel-buttons {
        position: absolute;
        height: 7em;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1em;
        box-shadow: 0px -1px 10px 0px darken(white, 10);
    }

    .RouteList {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    &.routes {
        .RouteList {
            bottom: 0;
        }

        .RoutePanel-tabs .Button:last-child {
            @include tab-button($passive: true);
        }
    }

    &.generator {
        .RouteList {
            bottom: 7em;
        }

        .RoutePanel-tabs .Button:first-child {
            @include tab-button($passive: true);
        }
    }

    .RoutePanel-intro {
        text-align: center;

        .RoutePanel-introIcon:before {
            @include icon($fa-var-magic);
            font-size: 6em;
        }

        .RoutePanel-introStartButton {
            @include button($icon: $fa-var-play);
            width: 100%;
            margin-top: 1em;
        }
    }

    .RoutePanel-progress {
        .LoadingIndicator {
            font-size: 3em;
            margin: 1em 0;
        }

        .RoutePanel-progressCount {
            text-align: center;
        }
    }

    .RoutePanel-drafts {
        .RoutePanel-buttons {
            .Button {
                display: inline-block;
                width: calc(50% - 0.5em);
            }
        }

        .RoutePanel-discardButton {
            @include button(
                $color: $c-ui-dark,$icon: $fa-var-times);
            margin-right: 0.5em;
        }

        .RoutePanel-commitButton {
            @include button($icon:$fa-var-floppy-o);
            margin-left: 0.5em;
        }
    }
}
