.DayCycleGraph {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.6em;
    background-color: #888;

    &:hover {
        // Show above ball when hovering
        z-index: 3;
    }

    li {
        margin: 0;
        padding: 0;
        height: 100%;
        float: left;
        box-sizing: border-box;
        border-left: 0.2em solid #cde;
        overflow: hidden;
        text-indent: 1000px;
        cursor: pointer;

        transition: width 0.2s;

        &:hover {
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(240,250,255,0.2);
            }
        }

        &.DayCycleGraph-phase0 {
            border-left: none;
            background-color: #6df;
        }

        &.DayCycleGraph-phase1 {
            background-color: #4ad;
        }

        &.DayCycleGraph-phase2 {
            background-color: #26a;
        }

        &.DayCycleGraph-phase3 {
            background-color: #026;
        }

        &.DayCycleGraph-phase4 {
            background-color: #002;
        }
    }
}
