.campaignplayer {
    .heatmap {
        width: 100%;
        height: 70%;
        min-height: 400px;
    }

    .scrubber {
        background-color: white;
        position: relative;
        width: 100%;
        height: 4em;
        padding: 1em;

        box-shadow: 0 0 0.1em rgba(0,0,0,0.1);

        &::before {
            position: absolute;
            top: 1.75em;
            left: 1em;
            right: 1em;
            content: "";
            display: block;
            background-color: #eee;
            height: 0.5em;
        }

        .thumb {
            position: absolute;
        }
    }
}
