.ListHeader {
    li {

        a {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

            &.selected {
                font-weight: bold;
            }
        }
    }
}
