.CampaignPlayerTransport {
    background-color: white;
    width: 100%;
    height: 4em;
    @include card;

    .CampaignPlayerTransport-time {
        position: absolute;
        left: 77px;
        top: 14px;
        font-size: 1.2em;
        color: #aaa;
    }

    .CampaignPlayerTransport-button {
        width: 5em;
        height: 5em;
        margin: -1em 0 0 0.5em;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        background-color: $c-brand-confirm;

        &:focus {
            outline: 0;
        }
        &.CampaignPlayerTransport-playButton {
            &::before{
                @include icon($fa-var-play);
                    margin-left: .1em;
            }
        }
        &.CampaignPlayerTransport-stopButton {
            background-color: $c-brand-delete;
            &::before{
                @include icon($fa-var-stop);
            }
        }
        &.CampaignPlayerTransport-playButton, &.CampaignPlayerTransport-stopButton {
            &::before {
                color: $c-text-contrast;
                font-size: 2em;
            }
        }
    }
}
