.CampaignPlayer {
    .CampaignPlayerTransport {
        position: absolute;
        z-index: 2;
        bottom: 40px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 90%;
    }

    .CampaignPlayer-heatmap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
