.MatchBase {
    position: relative;
    list-style-type: none;
    height: 4em;
    padding: 0.5em;
    cursor: pointer;

    &.focused, &:hover {
        background-color: #eee;
    }


    img {
        max-height: 3em;
        width: auto;
    }
}

.MatchBase-title {
    position: absolute;
    top: 10px;
    left: 50px;
    right: 20px;
    font-weight: bold;
    font-size: 1.5em;
}
