.PCActionParticipantItem {
    .PCActionParticipantItem-name {
        position: absolute;
        left: 70px;
        top: 15px;
        font-size: 20px;

        @include small-screen {
            font-size: 1.4em;
        }
    }

    .PCActionParticipantItem-reminder {
        position: absolute;
        left: 70px;
        top: 40px;
        font-size: 12px;

        span {
            color: lighten($c-text, 60);
        }

        .reminded span {
            color: lighten($c-text, 30);
        }
    }
}
