.PCGroupMemberItem {
    .PCGroupMemberItem-name {
        position: absolute;
        left: 70px;
        top: 15px;
        font-size: 20px;

        @include small-screen {
            font-size: 1.4em;
        }
    }

    .PCGroupMemberItem-role {
        position: absolute;
        left: 70px;
        top: 40px;
        font-size: 12px;

        span {
            color: lighten($c-text, 60);
        }
    }
}
