input,
input[type="text"],
input[type="email"],
textarea,
input[type="password"] {
    @include input-base;
}

input[type="submit"] {
    @include button;
    display: block;
}

select{
    @include input-base;
    margin: 0.25em auto 1.5em;
    padding: 0.25em;

    &:focus{
        border: 1px solid $c-ui-focus;
        padding: calc(0.25em - 1px);
    }
}

.actionform {
    .forminput-start_time {
        width: 30%;
        float: left;
    }

    .forminput-end_time {
        width: 30%;
        float: left;
    }

    .forminput-num_participants_required {
        clear: left;
    }
}
