.AssignmentTemplate {
    @include card;
    margin: 1em 0;
    padding: 1em;

    overflow: hidden;
    max-height: 4em;
    transition: max-height 0.3s;

    &.selected {
        max-height: 20em;
    }

    .AssignmentTemplate-config {
        margin: 1em;
        font-size: 16px;
    }

    .Form {
        li {
            display: inline-block;
            margin: 0 3px;
        }

        input, select {
            margin: 0;
        }
    }
}
