.AssignmentTemplate {
    @include card;
    margin: 1em 0;
    padding: 1em;

    overflow: hidden;
    max-height: 5em;
    transition: max-height 0.3s;
    cursor: pointer;

    &.selected {
        max-height: 20em;
    }

    .AssignmentTemplate-header {
        .AssignmentTemplate-headerCheck {
            display: inline-block;
            width: 2em;
            height: 2em;
            border-radius: 0.5em;
            border: 1px solid darken(white, 10);
            margin-right: 1em;
            vertical-align: middle;
        }

        h2 {
            font-size: 1.8em;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
    }

    &.selected {
        .AssignmentTemplate-header {
            .AssignmentTemplate-headerCheck {
                background-color: darken(white, 2);
                &:before {
                    @include icon($fa-var-check);
                    width: 1.8em;
                    height: 1.8em;
                    line-height: 1.8em;
                    margin: 0;
                    color: $c-brand-comp-dark;
                }
            }
        }
    }

    .AssignmentTemplate-config {
        margin: 1em;
        font-size: 16px;
    }

    .Form {
        li {
            display: inline-block;
            margin: 0 3px;
        }

        input, select {
            margin: 0;
        }
    }
}
