.section-nav {
    position: fixed;
    width: 100px;
    top: 60px;
    left: 0;
    bottom: 0;

    padding: 10px;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
    }
}

.section-content {
    position: absolute;
    top: 0;
    left: 100px;
    right: 0;
    bottom: 0;
    background-color: white;

    .section-pane:first-child {
        // Base pane, always full-width and not interactive
        left: 0;
        right: 0;
    }

    .section-pane {
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        background-color: white;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -10px;
            width: 10px;
            height: 100%;
            background: linear-gradient(90deg, rgba(0,0,0,0.0), rgba(0,0,0,0.02));
        }

        header {
            margin: 100px 20px 0;
        }

        .section-pane-content {
            margin: 20px;
        }

        .section-pane-shader {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0);
            pointer-events: none;
        }
    }

    section:last-child {
        position: absolute;
        top: 0;

        .section-pane-shader {
            display: none;
        }
    }

    section.campaign-list {
        width: 100%;
    }

    section.campaign-details {
        width: 500px;
    }

    section.action-list {
        width: 700px;
    }
}
