// TODO: Should be more bem-ish
.section-nav {
    position: fixed;
    width: 10em;
    top: 4.8em;
    left: 0;
    bottom: 0;

    ul {
        margin: 1em 0;
        padding: 0;
    }

}

.section-nav-item a {
    display: block;
    position: relative;
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 1em;

    font-size: 1.1em;
    text-align: center;

    opacity: 0.9;
    transition: opacity 0.3s;

    color: white;

    &::before {
        content: "";
        display: block;
        width: 6.4em;
        height: 4.8em;
        background-color: #888;
        margin: 0 auto 0.5em auto;
    }

    &:hover {
        opacity: 1.0;

        font-weight: bold;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $c-brand-main;
        width: 0.4em;
        height: 4em;
        right: 0;
        top: 0.4em;

        opacity: 0;
        transition: opacity 0.3s;
    }
}

.section-nav-item.selected a {
    &::after {
        opacity: 1;
    }
    &::before {
        background-color: #FFF;// Should highlight icon
    }
}

.section-content {
    position: absolute;
    top: 0;
    left: 100px;
    right: 0;
    bottom: 0;
    background-color: white;


    .section-pane {
        position: absolute;
        top: 0;
        bottom: 0;
        right: auto;
        display: block;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -10px;
            width: 10px;
            height: 100%;
            background: linear-gradient(90deg, rgba(0,0,0,0.0), rgba(0,0,0,0.02));
        }

        header {
            margin: 50px 0px 0;
        }

        .section-pane-closelink {
            top: 1em;
            left: 1em;
            right: auto;
            background-color: red;
            width: 1em;
            height: 1em;
        }

        .section-pane-content {
            display: block;
        }

        .section-pane-shader {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0);
            pointer-events: none;
        }
    }

    // TODO: Should 
    .section-pane:first-child {
        // Base pane, always full-width and not interactive
        left: 0;
        right: 0;
        header {
            margin-top: 0;
        }

        .section-pane-closelink {
            display: none;
        }
    }

    section:last-child {
        position: absolute;
        top: 0;

        .section-pane-shader {
            display: none;
        }
    }

    section.campaign-list {
        width: 100%;
    }

    section.campaign-details {
        width: 500px;
    }

    section.action-list {
        width: 700px;
    }
}
