.UserMenu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.6em;

    &:hover {
        .usermenu-info{
            display: block;
        }
    }
}
.UserMenu .Avatar {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    width: 2.4em;
    height: 2.4em;
}
.UserMenu-info{
    display: none;
    margin-top: 3em;
    padding: 0.5em;
    background-color: white;

    ul {
        margin-top: 0;
        text-align: right;
    }
    li {
        list-style-type: none;
        margin: 0.5em;

    }
    li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}
.UserMenu-name,
.UserMenu-org{
    text-align: right;
    display: block;
}
.UserMenu-name{
    font-weight: bold;
}
.UserMenu-org{
    font-size: 0.8em;
}

@include medium-screen {
    .UserMenu {
        transition: color 0.1s;

        &::before {
            z-index: 1000;
            content: "";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s;
            pointer-events: none;
        }

        &:hover {
            &::before {
                opacity: 0.5;
                visibility: visible;
            }

            .usermenu-info ul {
                display: block;
            }

            color: white;
        }
    }
    .UserMenu .Avatar {
        z-index: 3000;
    }
    .UserMenu-info {
        background-color: red;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3000;

        display: block;
        margin-top: 0;
        padding: 0;
        background-color: transparent;


        ul {
            display: none;
            padding: 0.5em;
            background-color: white;
        }
    }
    .UserMenu-user{
        width: 14em;
        padding: 0.5em 3.5em 0.45em 0;
    }
}
