.actionminicalendar {
    background-color: rgba(0,0,0,0.05);

    margin: 0 -2em 2em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 2em;
}

.actioncalendar .actionweek {
    margin: 1em 0;

    h2 {
        float: left;
        font-size: 1em;
        font-weight: normal;
        width: 5%;
    }
    
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.actioncalendar .actionday {
    float: left;
    width: 13%;
    margin-left: 0.5%;

    h3 {
        margin: 0 0 0.1em;
        padding: 0.5em 1em;
        background-color: white;
        box-shadow: 0 0 0.1em rgba(0,0,0,0.1);
        cursor: pointer;

        .date {
            font-size: 1.3em;
            font-weight: bold;
            padding-right: 0.5em;
        }
    }
}

.actionminicalendar .actionday {
    display: inline-block;
    width: 5em;
    min-height: 8em;
    margin-left: 0.1em;
    vertical-align: top;

    h3 {
        cursor: pointer;
        margin: 0.5em 0;
        color: #999;

        transition: color 0.3s;

        &:hover {
            color: #666;
            transition: color 0.1s;
        }
    }

    .date {
        display: block;
        font-size: 0.9em;
        font-weight: bold;
        text-align: center;
    }

    .weekday {
        display: none;
    }
}

.actionday-actionitem, .actionday-overflow {
    padding: 0.5em 1em;
    margin: 0 0 0.1em;
    background-color: white;
    box-shadow: 0 0 0.1em rgba(0,0,0,0.1);
    cursor: pointer;
}

.actionday-overflow {
    text-align: center;
    font-weight: bold;
    color: #aaa;

    &::before {
        content: "+";
    }

    &.highlight {
        color: #c88;
    }
}

.actioncalendar .actionday-actionitem {
    .activity {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        margin: 0 0 0.2em;
    }

    .location {
        display: block;
        font-size: 1.1em;

        &::before {
            content: "";
            display: block;
            float: left;
            background-color: #888;
            width: 0.5em;
            height: 0.5em;
            margin: 0.1em;
        }
    }
}

.actionminicalendar .actionday-actionitem, .actionminicalendar .actionday-overflow {
    height: 2em;
    transition: color 1.5s, background-color 1.5s;

    span {
        display: none;
    }

    &.highlight {
        transition: color 0.2s, background-color 0.2s;
        background-color: #fcc;
    }

    &:hover {
        transition: background-color 0.1s;
        background-color: #fff0f0;
    }
}

.actionminicalendar .actionday-pseudoitem {
    height: 2em;
}

.actionday-addbutton {
    visibility: hidden;
    display: block;
    width: 100%;
    background-color: #eee;
    border-width: 0;
    cursor: pointer;
    opacity: 0;

    text-align: center;

    transition: opacity 0.3s 0.1s;

    &::before {
        content: "+";
        color: #aaa;
        font-size: 1.5em;
        font-weight: bold;
    }
}

.actionminicalendar .actionday-addbutton {
    background-color: #ddd;
}

.actionday:hover .actionday-addbutton {
    visibility: visible;
    opacity: 1;
}
