.ActionDistributionPane {

    .PaneBase-header {
        height: 190px;
    }

    .campaignselect {
        width: 100%;
    }

    &.scrolled {
        .section-pane-toolbar {
            top: 130px;
        }
    }

    .section-pane-content { // TODO: Old? Remove?
        top: 130px;

        h3 {
            font-size: 1.5em;
            color: #888;
            margin: 0 0 0.5em;
        }
    }

    .ActionDistributionPane-locations, .ActionDistributionPane-activities {
        @include col(12,12);

        .ActionDistributionItem {
            @include col(10,10);
            margin: 0 0 2em 0;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    @include medium-screen {

        &.PaneBase:first-child .PaneBase-content {
            margin-top: 13em;
        }

        .campaignselect {
            width: 300px;
        }

        .ActionDistributionPane-locations {
            @include col(9,12, $first:true, $gap:1em);

            .ActionDistributionItem {
                margin: 0 1.5% 2em;
                @include col(3.1,10);
                &:nth-child(3n+1) {
                    margin-left: 0;
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
        .ActionDistributionPane-activities {
            @include col(3,12, $last:true, $gap:1em);
            min-height: 50%;
            padding: 0 1% 10em;
            border-left: 1px solid #ddd;

            .ActionDistributionItem {
                margin: 0 0 2em 0;
                width: 100%;
            }
        }
    }
}

.ActionDistributionPane-locations .ActionDistributionItem-title {
    &::before {
        @include icon($fa-var-map-marker);
        font-size: .8em;
    }
}
.ActionDistributionPane-activities .ActionDistributionItem-title {
    &::before {
        @include icon($fa-var-calendar);
        font-size: .8em;
    }
}
