.AllActionsPane {
    .AllActionsPane-viewSwitch.ViewSwitch {
        @include small-screen {
            display: none;
        }
    }
    .AllActionsPane-addButton {
        @include inline-button($icon: $fa-var-plus);
        float: right;
    }

    .AllActionsPane-importButton {
        @include inline-button($icon: $fa-var-cloud-upload);
        float: right;
    }
}

.AllActionsPane-oldActions {
    font-size: 1.25em;
    text-align: center;
    padding: 1em;
    border: 1px solid $c-ui-dark;
    border-radius: 0.5em;
    max-width: 708px;
    margin-bottom: 1em;

    @include small-screen {
        margin-top: 1em;
        border: 0;

        > span {
            display: none;
        }
    }
}

.AllActionsPane-oldActionsButtons {
    margin-top: 0.5em;
}

.AllActionsPane-oldActionsButton {
    text-decoration: underline;
    margin: 0 0.5em;
    cursor: pointer;

    @include small-screen {
        text-decoration: none;
    }

    &:nth-child(2) {
        @include small-screen {
            display: none;
        }
    }

    span:first-of-type {
        @include small-screen {
            color: #666;
            display: block;

            &:before {
                @include icon($fa-var-history);
                color: #666;
            }
        }
    }
}
