.AllActionsPane {
    .allActionsPane-addButton {
        @include inline-button($icon: $fa-var-plus);
        float: right;
    }
}
.AllActionsPane-oldActions {
    font-size: 1.25em;
    text-align: center;
    padding: 1em;
    border: 1px solid $c-ui-dark;
    border-radius: 0.5em;
    max-width: 708px;margin-bottom: 1em;
}
.AllActionsPane-oldActionsButtons {
    margin-top: 0.5em;
}
.AllActionsPane-oldActionsButton {
    text-decoration: underline;
    margin: 0 0.5em;
    cursor: pointer;
}