.CampaignPlaybackPane {
    .RootPaneBase-header {
        padding: 0;
    }

    .RootPaneBase-filterButton {
        margin: 1em 0 1em 1em;
    }

    .CampaignPlayer {
        position: absolute;
        top: 19em;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

