.TagCloudItem {
    @include tag;

    .TagCloudItem-removeButton, .TagCloudItem-editButton {
        position: absolute;
        right: 0;
        margin-top: -1px;
        opacity: 0;
        transition: opacity 0.3s;
        color: lighten($c-text, 60);
        &:hover {
            color: lighten($c-text, 40);
        }
    }
    .TagCloudItem-removeButton:after {
        @include icon($fa-var-remove);
        margin-right: 0;
    }
    .TagCloudItem-editButton {
        margin-top: -2px;
        &:after {
            @include icon($fa-var-pencil);
            margin-right: 0;
        }
    }    
    &:hover {

        .TagCloudItem-removeButton, .TagCloudItem-editButton {
            cursor: pointer;
            opacity: 1;
            
            
        }
        
    }
}
