.TagCloudItem {
    position: relative;
    float: left;
    background-color: $c-ui-dark;
    border-radius: 4px;
    padding: 4px 12px;
    margin: 0 4px 4px 0;
    font-size: 14px;

    color: black;
    transition: color 0.2s;

    .TagCloudItem-removeButton, .TagCloudItem-editButton {
        position: absolute;
        top: 4px;
        right: 4px;
        text-align: right;
        width: 20px;

        opacity: 0;
        transition: opacity 0.3s;

        font-weight: bold;
        color: black;
    }

    &:hover {
        color: $c-ui-darker;

        .TagCloudItem-removeButton, .TagCloudItem-editButton {
            cursor: pointer;
            opacity: 1;
            background: linear-gradient(90deg, rgba($c-ui-dark,0), rgba($c-ui-dark, 1) 70%, rgba($c-ui-dark,1));
        }
    }
}
