.ActionList {

    .ListHeader {

        li:nth-child(1) {
            width: 9em;
            display: inline-block;
        }

        li:nth-child(2) {
            @include col(6,12);
        }

        li:nth-child(3) {
            display: none;
        }

        li:nth-child(4) {
            display: none;
        }
    }

    .ListItem {
        margin-left: 9em;
    }

    @include medium-screen {
        &.List {
            max-width: 580px;
        }

        .ListHeader {
            li:nth-child(3) {
                @include col(1.5,12);
            }

            li:nth-child(4) {
                display: inline-block;
            }
        }
    }
}
