.ActionList {
    .ListHeader {
        li:nth-child(1) {
            margin-left: 1.5em;
            width: 7em;
            display: inline-block;
        }

        li:nth-child(2) {
            @include col(4.8,12);
        }

        li:nth-child(3) {
            display: none;
        }

        li:nth-child(4) {
            display: none;
        }
    }

    &.withCheckboxes {
        .ListHeader {
            li:nth-child(1) {
                margin-left: 4.5em;
            }

            li:nth-child(2) {
                @include col(4.4,12);
            }
        }
    }

    &.List {
        max-width: 720px;

        @include small-screen {
            border-top: 1px solid #e9e9e9;
            max-width: 100vw;
        }
    }

    .ListHeader {
        li:nth-child(3) {
            @include col(1.3,12);
        }

        li:nth-child(4) {
            display: inline-block;
        }
    }

    .ListItem {
        min-height: 7.8em;

        @include small-screen {
            min-height: 0;
        }

        .LoadingIndicator {
            margin-top: 30px;
        }
    }
}
