.AddressVisitList {
    .ListHeader {
        li:nth-child(2) {
            float: right;
            width: 20em;
        }
    }

    .ListItem:hover {
        background-color: white;
        cursor: default;

        @include small-screen {
            background-color: transparent;
        }
    }
}
