.CallList {
    .ListHeader {
        li:nth-child(1) {
            @include col(3,12);
        }

        li:nth-child(2) {
            @include col(8,12);
        }
    }

    .ListItem {
        margin-left: 9em;
        padding: 0;
    }

    @include medium-screen {
        &.List {
            max-width: 485px;
        }
    }
}
