.CanvassAssignmentList {

    .ListHeader {

        @include medium-screen {
            display: none;
        }

        li:nth-child(1) {
            width: 9em;
            display: inline-block;
        }

        li:nth-child(2) {
            @include col(6,12);
        }
    }

    .ListItem {
        margin-left: 9em;

        @include medium-screen {
            margin-left: 0;
        }
    }
}
