.List {
    width: 100%;
    font-size: 1.3em;
    position: relative;

    .ListHeader {
        position: relative;
        z-index: 0;
        height: 15px;

        li {
            color: #888;
            list-style-type: none;
            display: inline-block;

            @include small-screen {
                font-size: 0.95em;
            }
        }
    }

    @include medium-screen {
        max-width: 720px;
    }

    .List-selectAllCheckbox {
        width: 3em;
        position: absolute;
        z-index: 1;
        text-align: center;
    }

    .List-loadMoreLink {
        display: block;
        padding: 1em;
        text-align: center;
        background-color: darken($c-ui-bg, 5%);
        color: $c-ui-dark;
        cursor: pointer;

        transition: background-color 0.2s, color 0.1s;

        &:hover {
            background-color: darken($c-ui-bg, 10%);
            color: $c-ui-dark;
        }
    }
}
