.PersonList {
    font-size: 1.0em;

    .ListHeader {
        li {
            display: block;

            &:nth-child(1) {
                @include col(4, 12);
                @include col-offset(2,12);

            }

            &:nth-child(2) {
                @include col(6, 12);
            }
        }
    }

    @include medium-screen {
        max-width: 420px;
        .listheader {
            li:nth-child(2) {
            }
        }
    }
}
