.PersonList {
    font-size: 1.0em;

    .ListHeader {

        @include small-screen {
            display: none;
        }

        li {
            display: block;

            &:nth-child(1) {
                @include col(3.9, 12);
                @include col-offset(2.1,12);
            }

            &:nth-child(2) {
                @include col(6, 12);
            }
        }
    }

    &.withCheckboxes {
        .ListHeader {
            li:nth-child(1) {
                @include col(3.5, 12);
                @include col-offset(3,12);
            }

            li:nth-child(2) {
                @include col(5, 12);
            }
        }
    }

    @include medium-screen {
        max-width: 420px;
    }

    .List-selectAllCheckbox {

         @include small-screen {
            display: none;
        }
    }
}
