.ContactSlot {
    position: relative;
    background-color: #eee;
    width: 3em;
    height: 3em;

    &::before {
        content: "?";
        display: block;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 2.5em;
        color: #ccc;
    }
}

.ContactSlot figure {
    margin: 0;
    position: absolute;
    top: 0;
    cursor: move;
}

.ContactSlot img {
    width: 3em;
    height: auto;
}
