.ParticipantList {
    display: none;

    @include medium-screen {
        display: block;
        min-height: 5em;
        float: left;

        li {
            float: left;
            margin: 0.25em;
            &:nth-child(4n+1) {
                margin-left: 0;
            }
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .ParticipantList-moreParticipants {
        position: absolute;
        top: 0;
        right: 0;
        width: 3em;
        height: 3em;
        line-height: 3em;
        margin: 0.25em;
        text-align: center;
        background: darken($c-ui-bg, 5);
        color: #aaa;

        &:hover {
            background: darken($c-ui-bg, 7);
        }

        &::before {
            content: "+";
        }
    }
}
