.ParticipantList {
    display: none;

    @include medium-screen {
        display: block;
        min-height: 5em;
        float: left;

        li {
            float: left;
            margin: 0.25em;
            &:nth-child(4n+1) {
                margin-left: 0;
            }
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .ParticipantList-moreParticipants {
        margin: 0.25em 0 0.25em 0.25em;
        height: 3em;
        line-height: 3em;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #ccc;
        cursor: pointer;
        color: #aaa;

        &::before {
            content: "+";
        }
    }
}
