.RootPaneBase {
    background-color: $c-ui-bg;
    color: lighten($c-text, .3);
    min-width: 400px;
    z-index: 1;

    @include small-screen {
        min-width: auto;
        width: 100%;
    }

    .RootPaneBase-filterDrawer {
        padding: 0 1em;
    }

    &.RootPaneBase-scrolled {
        .RootPaneBase-header {
            background-color: white;
            box-shadow: 0 0 0.2em rgba(0,0,0,0.1);
            z-index: 5;
        }
    }

    .RootPaneBase-header {
        background-color: $c-ui-bg;
        padding: 1em;
        position: fixed;
        transition: background-color .2s;
        width: calc(100% - 100px);
        z-index: 3;

        @include small-screen {
            width: 100%;
        }

        .RootPaneBase-toolbar {
            color: #666666;

            // All direct children
            > * {
                display: inline-block;
                margin-right: 0.5em;
                margin-bottom: 0;

                &.Button {

                    @include small-screen {
                        &.AllActionsPane-importButton {
                            display: none;
                        }
                    }

                    &:before {
                        height: 1.6em;
                        line-height: 1.6;
                    }
                }
            }
        }
    }

    .RootPaneBase-content {
        height: 100%;
        overflow: scroll;
        padding: 80px 20px 0;

        @include small-screen {
            padding: 60px 20px 0;
        }

        h2 {
            margin-top: 0;
            font-size: 2.0em;
        }

        h3 {
            font-size: 1.7em;
        }

        p {
            font-size: 1.4em;
            line-height: 1.8em
        }

        small {
            font-size: 1.1em;
        }
    }

    .RootPaneBase-shader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 10;
    }

    .RootPaneBase-filterButton {
        @include inline-button($icon:$fa-var-filter);
    }

    &.RootPaneBase-filtered.RootPaneBase-filtersHidden .RootPaneBase-filterButton {
        &::before {
            color: $c-brand-comp-light;
        }
    }

    .RootPaneBase-filterDrawer {
        max-height: 0;
        transition: max-height .3s;
        overflow: hidden;
        position: relative;

        .RootPaneBase-filterContent {
            padding-top: 1em;
        }

        .RootPaneBase-filterContent > div {
            @include col(3,12, $gap:2em);
            border-right: 1px solid $c-ui-bg;

            @include small-screen {
                @include col(12,12);
            }

            &:last-of-type {
                border-right: 0;
            }
        }

        label {
            display: block;
            font-size: 1.3em;
            margin: 0 0 0.5em;
        }

        .RootPaneBase-filterFooter {
            padding: 1em;
            text-align: right;
        }

        .RootPaneBase-filterApplyButton {
            @include button($icon:$fa-var-check);
            bottom: 1em;
            position: absolute;
            right: 1em;

            @include small-screen {
                position: static;
            }
        }
    }

    &.RootPaneBase-filtersVisible {

        .RootPaneBase-filterDrawer {
            opacity: 1;
            max-height: 250px;
            animation: RootPaneBase-filter-openAnimation .3s;
            overflow: visible;

            @include small-screen {
                max-height: auto;
                overflow: scroll;
            }
        }

        &:after {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            animation: RootPaneBase-filter-bg-openAnimation 1s;
            background: rgba(black, 0.2);
        }
    }
}

@keyframes RootPaneBase-filter-openAnimation {
    0%      { max-height: 0; overflow:hidden; }
    99%     { max-height: 250px; overflow:hidden; }
    100%    { max-height: 250px; overflow:visible; }
}

@keyframes RootPaneBase-filter-bg-openAnimation {
    0%      { background: rgba(black, 0.0); }
    100%    { background: rgba(black, 0.2); }
}
