.Section {
    height: 100%;
    background-color: #f8f8f8;

    .Section-container {
        position: relative;
    }

    .Section-nav {
        background-color: black;
        width: 100%;
    }

    .Section-nav {
        @include flex-container;
        min-height: 4.8em;
        ul{
            @include flex(4);
            @include flex-container;
            @include align-items(flex-end);
        }
    }

    .Section-navMisc {
        @include flex(2);
        @include flex-container;
        @include align-items(flex-end);
        text-align: center;
    }

    .Section-navMisc a {
        @include flex(1);
        color: white;
        padding: 1em 0;
    }

    .Section-navItem {
        @include flex;
        text-align: center;
        color: white;
        padding: 1em 0;
        a {
            padding: 1em 0;
        }
    }

    @include medium-screen {
        .Section-nav {
            @include flex-container(column);
            position: fixed;
            width: 100px;
            top: 6.8em;
            left: 0;
            bottom: 0;

            ul{
                margin: 1em 0;
                padding: 0;
                @include flex(none);
                @include flex-container(column);
            }
        }
        .Section-navMisc a {
            color: #888;
            padding: 0;
            border-left: 0.1em solid #888;
            margin-bottom: 0.4em;

            &:first-child {
                border-left: 0;
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            &:hover {
                color: #ddd;
            }
        }

        .Section-navItem{
            @include flex(none);
            width: 100%;
            padding: 0;
        }

        .Section-navItem a {
            display: block;
            position: relative;
            list-style-type: none;
            cursor: pointer;
            margin-bottom: 2em;
            padding: 0;

            font-size: 1.3em;
            text-align: center;

            color: white;

            &::before {
                content: "";
                display: block;
                font-size: 0.6em;
                width: 6.4em;
                height: 4.8em;
                margin: 0 auto 0.5em auto;
                background-repeat: no-repeat;
                background-size: cover;

                opacity: 0.9;
                transition: opacity 0.3s;
            }

            &:hover {
                opacity: 1.0;

                font-weight: bold;

                &::before {
                    opacity: 1.0;
                }
            }

            &::after {
                content: "";
                position: absolute;
                background-color: $c-brand-main;
                width: 0.5em;
                height: 4.8em;
                right: 0;
                top: 0;

                opacity: 0;
                transition: opacity 0.3s;
            }
        }

        .Section-navItem.selected a::after {
            opacity: 1;
        }

        .Section-navItem.selected a::before {
            opacity: 1.0;
        }

        .Section-container {
            position: absolute;
            top: 0;
            left: 100px;
            right: 0;
            bottom: 0;
            background-color: white;
        }

        &.Section-dialog {
            .Section-navItem-assignments a:before {
                background-image: url(/static/images/section-nav/dialog-assignments.png);
            }

            .Section-navItem-calls a:before {
                background-image: url(/static/images/section-nav/dialog-calls.png);
            }

            .Section-navItem-startassignment a:before {
                background-image: url(/static/images/section-nav/dialog-startassignment.png);
            }
        }

        &.Section-campaign {
            .Section-navItem-actions a:before {
                background-image: url(/static/images/section-nav/campaign-actions.png);
            }

            .Section-navItem-distribution a:before {
                background-image: url(/static/images/section-nav/campaign-distribution.png);
            }

            .Section-navItem-playback a:before {
                background-image: url(/static/images/section-nav/campaign-playback.png);
            }
        }

        &.Section-maps {
            .Section-navItem-overview a:before {
                background-image: url(/static/images/section-nav/maps-overview.png);
            }

            .Section-navItem-locations a:before {
                background-image: url(/static/images/section-nav/maps-locations.png);
            }
        }

        &.Section-people {
            .Section-navItem-list a:before {
                background-image: url(/static/images/section-nav/people-list.png);
            }

            .Section-navItem-invite a:before {
                background-image: url(/static/images/section-nav/people-invite.png);
            }

            .Section-navItem-import a:before {
                background-image: url(/static/images/section-nav/people-import.png);
            }
        }

        &.Section-survey {
            .Section-navItem-surveys a:before {
                background-image: url(/static/images/section-nav/survey-list.png);
            }

            .Section-navItem-submissions a:before {
                background-image: url(/static/images/section-nav/survey-submissions.png);
            }
        }

        &.Section-canvass {
            .Section-navItem-assignments a:before {
                background-image: url(/static/images/section-nav/canvass-assignments.png);
            }

            .Section-navItem-routes a:before {
                background-image: url(/static/images/section-nav/canvass-routes.png);
            }

            .Section-navItem-visits a:before {
                background-image: url(/static/images/section-nav/canvass-visits.png);
            }
        }

        &.Section-settings {
            .Section-navItem-officials a:before {
                background-image: url(/static/images/section-nav/settings-officials.png);
            }
        }

        .Section-navBack a:before {
            background-image: url(/static/images/section-nav/back.png);
        }
    }
}
