.Section {
    height: 100%;

    @include small-screen {
        background-color: #f8f8f8;
    }

    .Section-container {
        bottom: 0;
        left: 100px;
        position: absolute;
        right: 0;
        top: 0;

        @include small-screen {
            left: 0;
            top: 60px;
        }
    }

    .Section-nav {
        @include flex-container(column);
        background-color: black;
        bottom: 0;
        left: 0;
        position: fixed;
        top: 6.8em;
        width: 100px;
        z-index: 4;

        @include small-screen {
            background-color: #ededed;
            display: block;
            height: 60px;
            line-height: 30px;
            width: 100%;
        }

        ul {
            @include flex(none);
            @include flex-container(column);
            margin: 1em 0;
            padding: 0;

            @include small-screen {
                @include flex(4);
                @include flex-container;
                margin: 0;
            }
        }
    }

    .Section-navMisc {
        @include flex(2);
        @include flex-container;
        @include align-items(flex-end);
        text-align: center;

        @include small-screen {
            display: none;
        }
    }

    .Section-navMisc a {
        @include flex(1);
        border-left: 0.1em solid #888;
        color: white;
        margin-bottom: 0.4em;
        padding: 0;
        padding: 1em 0;

        &:first-child {
            border-left: 0;
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &:hover {
            color: #ddd;
        }
    }

    .Section-navItem {
        @include flex;
        text-align: center;
        color: white;
        padding: 1em 0;

        @include small-screen {
            @include flex(none);
            padding: 0;
            width: auto;
        }
    }

    .Section-navItem a {
        display: block;
        position: relative;
        list-style-type: none;
        cursor: pointer;
        padding: 0;
        font-size: 1.3em;
        text-align: center;
        color: white;

        @include small-screen {
            color: #505050;
            margin-bottom: 0;
            padding: 15px;
            position: static;
        }

        &::before {
            content: "";
            display: block;
            font-size: 0.6em;
            width: 6.4em;
            height: 4.8em;
            margin: 0 auto 0.5em auto;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.9;
            transition: opacity 0.3s;
        }

        &:hover {
            opacity: 1.0;
            font-weight: bold;

            @include small-screen {
                font-weight: 400;
                text-decoration: underline;
            }

            &::before {
                opacity: 1.0;
            }
        }

        &::after {
            content: "";
            position: absolute;
            background-color: $c-brand-main;
            width: 0.5em;
            height: 4.8em;
            right: 0;
            top: 0;
            opacity: 0;
            transition: opacity 0.3s;

            @include small-screen {
                position: static;
            }
        }
    }

    .Section-navItem.selected a {

        @include small-screen {
            text-decoration: underline;
        }
    }

    .Section-navItem.selected a::after {
        opacity: 1;
    }

    .Section-navItem.selected a::before {
        opacity: 1.0;
    }

    &.Section-dialog {
        .Section-navItem-assignments a:before {
            background-image: url(/static/images/section-nav/dialog-assignments.png);

            @include small-screen {
                display: none;
             }
        }

        .Section-navItem-calls a:before {
            background-image: url(/static/images/section-nav/dialog-calls.png);

            @include small-screen {
                display: none;
             }
        }

        .Section-navItem-startassignment a:before {
            background-image: url(/static/images/section-nav/dialog-startassignment.png);

            @include small-screen {
                display: none;
             }
        }
    }

    &.Section-campaign {
        .Section-navItem-actions a:before {
            background-image: url(/static/images/section-nav/campaign-actions.png);

            @include small-screen {
                display: none;
             }
        }

        .Section-navItem-campaigns a:before {
            background-image: url(/static/images/section-nav/campaign-campaigns.png);

            @include small-screen {
                display: none;
             }
        }

        .Section-navItem-distribution a:before {
            background-image: url(/static/images/section-nav/campaign-distribution.png);

            @include small-screen {
                display: none;
            }
        }

        .Section-navItem-playback a:before {
            background-image: url(/static/images/section-nav/campaign-playback.png);

            @include small-screen {
                display: none;
            }
        }
    }

    &.Section-maps {
        .Section-navItem-overview a:before {
            background-image: url(/static/images/section-nav/maps-overview.png);

            @include small-screen {
                display: none;
            }
        }

        .Section-navItem-locations a:before {
            background-image: url(/static/images/section-nav/maps-locations.png);

            @include small-screen {
                display: none;
            }
        }
    }

    &.Section-people {
        .Section-navItem-list a:before {
            background-image: url(/static/images/section-nav/people-list.png);

            @include small-screen {
                display: none;
            }
        }

        .Section-navItem-groups a:before {
            background-image: url(/static/images/section-nav/people-groups.png);

            @include small-screen {
                display: none;
            }
        }

        .Section-navItem-invite a:before {
            background-image: url(/static/images/section-nav/people-invite.png);

            @include small-screen {
                display: none;
            }
        }

        .Section-navItem-import a:before {
            background-image: url(/static/images/section-nav/people-import.png);

            @include small-screen {
                display: none;
            }
        }

        .Section-navItem-manage a:before {
            background-image: url(/static/images/section-nav/people-manage.png);

            @include small-screen {
                display: none;
            }
        }
    }

    &.Section-survey {
        .Section-navItem-surveys a:before {
            background-image: url(/static/images/section-nav/survey-list.png);

            @include small-screen {
                display: none;
            }
        }

        .Section-navItem-submissions a:before {
            background-image: url(/static/images/section-nav/survey-submissions.png);

            @include small-screen {
                display: none;
            }
        }
    }

    &.Section-canvass {
        .Section-navItem-assignments a:before {
            background-image: url(/static/images/section-nav/canvass-assignments.png);

            @include small-screen {
                display: none;
            }
        }

        .Section-navItem-routes a:before {
            background-image: url(/static/images/section-nav/canvass-routes.png);

            @include small-screen {
                display: none;
            }
        }

        .Section-navItem-visits a:before {
            background-image: url(/static/images/section-nav/canvass-visits.png);

            @include small-screen {
                display: none;
            }
        }
    }

    &.Section-settings {
        .Section-navItem-officials a:before {
            background-image: url(/static/images/section-nav/settings-officials.png);

            @include small-screen {
                display: none;
            }
        }
    }

    .Section-navBack a:before {
        background-image: url(/static/images/section-nav/back.png);

        @include small-screen {
            display: none;
        }
    }
}

// Don't show theese navigation items on small screens
.Section-navItem-import,
.Section-navMisc a,
.Section-navItem-playback,
.Section-navItem-distribution,
.Section-navItem-routes {
    @include small-screen {
        display: none;
    }
}
