.PersonSelectWidget {
    @include ghost-placeholder();

    position: relative;
    height: 74px;
    text-align: left;
    color: #333;

    .DraggableAvatar {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
    }

    .Person {
        position: absolute;
        top: 16px;
        left: 70px;
        right: 10px;
        font-size: 20px;
        white-space: nowrap;
        z-index: 0;
    }

    .RelSelectInput {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        width: auto;
    }

    .PersonSelectWidget-instructions {
        position: absolute;
        top: 32px;
        left: 10px;
        right: 10px;

        font-size: 11px !important;
        line-height: 0.95em !important;
        color: #999;
    }

    .PersonSelectWidget-clearLink {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;

        opacity: 0.1;
        transition: opacity 0.2s;
    }

    &:hover {
        .PersonSelectWidget-clearLink {
            opacity: 0.5;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &.changing, &.selected {
        .RelSelectInput {
            left: 70px;
        }

        .PersonSelectWidget-instructions {
            left: 70px;
        }
    }

    &.changing, &.selecting {
        .PersonSelectWidget-instructions {
            top: 38px;
        }
    }
}
