.PersonSelectWidget {
    @include ghost-placeholder();

    &.preventChange {
        @include card;
        border-width: 0;
    }

    position: relative;
    height: 74px;
    text-align: left;
    color: #333;
    margin: 1em 0;

    .DraggableAvatar {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
    }

    .Person {
        position: absolute;
        top: 16px;
        left: 70px;
        right: 10px;
        font-size: 20px;
        white-space: nowrap;
        z-index: 0;

        @include small-screen {
            font-size: 1.4em;
            line-height: 40px;
        }
    }

    .RelSelectInput {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        width: auto;
        text-align: left;
    }

    .PersonSelectWidget-instructions {
        position: absolute;
        top: 32px;
        left: 10px;
        right: 10px;

        font-size: 11px !important;
        line-height: 0.95em !important;
        color: #999;
    }

    .PersonSelectWidget-clearLink {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;

        opacity: 0.1;
        transition: opacity 0.2s;
    }

    &:hover {
        .PersonSelectWidget-clearLink {
            opacity: 0.5;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .DraggableAvatar, .Person, .RelSelectInput, .PersonSelectWidget-instructions {
        opacity: 1;
        transition: opacity 0.2s;
    }

    &.draggingOver {
        .DraggableAvatar, .Person, .RelSelectInput, .PersonSelectWidget-instructions {
            opacity: 0.3;
        }

        border-color: rgba(0,0,0,0.4);
    }

    &.changing, &.selected {
        .RelSelectInput {
            left: 70px;
        }

        .PersonSelectWidget-instructions {
            left: 70px;
        }
    }

    &.changing, &.selecting {
        .PersonSelectWidget-instructions {
            top: 38px;
        }
    }
}
