.StaticMap {
    max-width: 100%;

    img {
        width: 100%;
        height: auto;
    }

    .StaticMap-coordinates {
        margin: 1em 0;
        font-size: 1.3em;
        color: $c-ui-dark;

        &:before {
            @include icon($fa-var-location-arrow);
        }

        span {
            padding-right: 1em;
        }
    }
}
