.CallerList {
    .CallerList-addItem {
        @include ghost-placeholder();
    }

    .CallerListItem {
        transition: opacity 0.2s;
    }

    &.CallerList-isPersonOver {
        .CallerList-addItem {
            border-color: $c-ui-darker;

            p {
                opacity: 0;
            }
        }

        .CallerListItem {
            opacity: 0.5;
        }
    }
}
