.PersonCollectionItem {
    @include card;

    position: relative;
    padding: 10px;
    margin: 0 0 10px;

    &:hover {
        a {
            opacity: 1.0;
            cursor: pointer;
        }
    }

    .Avatar {
        margin: 0;
        width: 50px;
        height: 50px;
    }

    .PersonCollectionItem-editButton,
    .PersonCollectionItem-removeButton {
        position: absolute;
        right: 10px;
        color: lighten($c-text, 50);
        font-size: 1.5em;
        opacity: 0;
        transition: opacity 0.2s;
    }

    .PersonCollectionItem-removeButton {
        top: 10px;
    }
    
    .PersonCollectionItem-editButton {
        top: 40px;
    }
}
