.RelSelectInput {
    position: relative;
    width: 100%;

    input[type=text] {
        @include input-base;
    }

    ul {
        position: absolute;
        top: 32px;
        left: 0;
        right: 0;
        z-index: 2000;

        display: none;
        background-color: white;
        border: 1px solid #eaeaea;
        border-radius: 0 0 2px 2px;
        max-height: 10em;
        overflow-y: scroll;
        overflow-x: hidden;

        li {
            position: relative;
            cursor: pointer;
            padding: 0.5em 1em 0.5em 2em;
            font-size: 1.1em;

            &::before {
                content: "";
                display: block;
                float: left;
                width: 1em;
                height: 1em;
                margin-left: -1.5em;
            }

            &:hover, &.focused {
                background-color: darken(white, 5);

                &::before {
                    color: #ddd;
                    content: "\f00c";
                    font: normal normal normal 10px FontAwesome;
                }
                .RelSelectInput-editLink {
                    display: block;
                }
            }

            &.selected {
                &::before {
                    color: #2a0;
                    content: "\f00c";
                    font: normal normal normal 10px FontAwesome;
                }
            }

            .RelSelectInput-editLink {
                position: absolute;
                right: 0;
                top: 0;
                text-decoration: underline;
                color: #888;
                text-align: right;
                width: 30px;
                display: none;
                height: 100%;

                &:before {
                    @include icon($fa-var-pencil);
                    line-height: 2.4em;
                }

                &:hover {
                    color: darken(#888, 30)
                }
            }
        }
    }

    &.focused {
        ul {
            display: block;
        }
    }

    &:hover, &.focused {
        &:after {
            background-color: darken(#eee, 3);
        }
    }

    &:after {
        position: absolute;
        width: 32px;
        height: 32px;
        background-color: #eee;
        top: 1px;
        right: 1px;
        content: "\f0d7";
        font: normal normal normal 10px FontAwesome;
        color: #888;
        text-align: center;
        border-radius: 0 2px 2px 0;
        padding: 11px;
        z-index: inherit;
        pointer-events: none
    }
}
