.SurveyOutlineElement {
    @include card;
    padding: 1em;
    margin: 0 0 1em;
    font-size: 1.2em;

    &:hover {
        position: relative;
        cursor: pointer;
        background: darken(white, 2);

        &:after {
            @include icon($fa-var-pencil);
            position: absolute;
            top: 1em;
            right: 1em;
        }
    }

    .SurveyOutlineElement-type {
        margin-bottom: 0.5em;
        color: lighten($c-text, 40);

        &.question {
            &:before {
                @include icon($fa-var-question);
            }
        }

        &.text {
            &:before {
                @include icon($fa-var-align-left);
            }
        }
    }

    .SurveyOutlineElement-content {
        font-size: 1.3em;

        .SurveyOutlineQuestion {
            margin-left: 0.5em;
        }
    }
}
