.SurveyQuestionOption {
    @include card;
    padding: 0.5em;
    margin: 0 0 1em;

    &.editable {
        &:hover {
            position: relative;
            cursor: pointer;
            background: darken(white, 2);

            &:after {
                @include icon($fa-var-pencil);
                position: absolute;
                top: 0.5em;
                right: 0.5em;
            }
        }
    }

    span {
        font-size: 1.3em;
        display: block;
        padding: 0.3em 0.4em;
        border: 2px solid transparent;
    }

    input[type=text] {
        @include input-base;
    }

    .SurveyQuestionOption-deleteButton {
        margin-left: 0.5em;
        color: $c-brand-delete;

        &:before {
            @include icon($fa-var-trash);
        }

        &:hover {
            color: darken($c-brand-delete, 10);
        }
    }

    button {
        &:first-of-type {
            @include inline-button($icon:$fa-var-times);
            margin: 0;
        }

        &:last-of-type {
            @include inline-button($icon:$fa-var-floppy-o,
                $color: $c-brand-comp-light);
            margin: 0;
        }

        &:last-of-type {
            float: right;
        }
    }
}
