.ImporterColumnHead {
    @include card;
    padding: 10px;
    min-width: 250px;
    max-width: 250px;
    margin: 0 10px;
    border-bottom: 3px solid $c-brand-comp-light;

    &.unknown {
        border-bottom: 3px solid $c-brand-main;
        background: rgba(white, 0.3);
    }

    h3.ImporterColumnHead-name {
        font-size: 14px;
        margin: 0 0 10px;
        font-weight: 700;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    select {
        font-size: 1em;
        margin-bottom: 5px;
        height: 40px;
    }

    .ImporterColumnHead-summary {
        height: 1.4em;
        margin-bottom: 0.5em;
        p {
            font-size: 11px;
            font-style: italic;
            font-weight: normal;
            margin: 0;
        }
    }

    .ImporterColumnHead-editLink {
        font-size: 11px;
        cursor: pointer;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }

        &:before {
            @include icon($fa-var-pencil);
        }
    }
}
