.ImporterColumnHead {
    @include card;
    padding: 10px;

    h3.ImporterColumnHead-name {
        font-size: 14px;
        margin: 0 0 5px;
    }

    .ImporterColumnHead-editLink {
        font-size: 11px;
        cursor: pointer;
        font-weight: normal;
        text-decoration: underline;
    }
}
