.ImporterTableSet {

    .importerTableSet-tableSelector {
        display: inline-block;
        font-size: 1.5em;
        float:right;

        &:before {
            @include icon($fa-var-file-o);
        }

        span {
            margin-right: 1em;
        }

        select {
            display: inline-block;
            width: 250px;
            font-size: 1em;
        }
    }

    .ImporterTableSet-trunc {
        position: absolute;
        width: 100%;
        left: 0;
        padding: 1em;
        background: rgba(255,255,255, 0.8);
        bottom: 9.5em;
        z-index: 999;

        &:before {
            @include icon($fa-var-info-circle);
            color: $c-brand-comp-light;
        }
    }

    .button {
        @include button($icon: $fa-var-cloud-upload);
        position: fixed;
        bottom: 1em;
        right: 1em;
        width: 20%;
    }
}