.ImporterTable {

    h1 {
        position: absolute;
        top:0;
        left: 0;
        margin: 1em;
    }

    .ImporterTable-settings {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 1em;

        input[type="checkbox"] {
            width: 1.5em;
            height: 1.5em;
        }

        span {
            vertical-align: top;
        }
    }

    .ImporterTable-info {
        @include col(12,12);
        p {
            &:before {
                @include icon($fa-var-info-circle);
                color: $c-brand-comp-light;
            }
        }
    }

    .ImporterTable-container {
        position: relative;
        margin-top: 6em;
        height: calc(100% - 6em);
        overflow-x: scroll;
        @include scrollbar(darken($c-ui-bg, 10));
    }
}