.PaneBase {
    background-color: #f8f8f8;
    min-width: 400px;
    z-index: 1000;
    padding: 0;

    h2 {
        margin: 30px 0 30px;
    }

    small {
        display: block;
        margin: -25px 0 30px;

        a {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .PaneBase-top {
        position: relative;
        z-index: 2000;
    }

    .PaneBase-toolbar {
        padding: 20px 0;
        margin: 0 20px;
        height: 50px;

        transition: height 0.2s, padding-top 0.2s, background-color 0.1s;

        & > * {
            display: inline-block;
            margin-right: 20px;
        }
    }

    &.PaneBase-scrolled {
        .section-pane-toolbar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2000;

            margin: 0;
            padding: 5px 20px;
            height: 35px;
            background-color: white;
            border-bottom: 1px solid #ddd;
        }

        .section-pane-content {
            padding-top: 80px;
        }
    }

    h3 {
        font-size: 1.5em;
    }

    .PaneBase-content::after {
        content: "";
        display: block;
        clear: both;
    }
}

