.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6.8em;
    z-index: 1000;
    padding: 1.8em;
    background: radial-gradient(
        circle at 50% 50%,
        $c-brand-main-orange,
        $c-brand-main-pink);
}
