.Logo {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;

    @include small-screen {
        top: 20px;
    }

    @include mini-screen {
        left: 15px;
    }

    img {
        height: 100%;
        width: auto;

        @include small-screen {
            height: 75%;
        }
    }
}
