.Logo {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;

    img {
        height: 100%;
        width: auto;
    }
}

@include medium-screen {
    .Logo {
        top: 10px;
        bottom: 10px;
        left: 28px;
    }
}
