.OrgPicker-label {
    font-size: 1em;
}

.OrgPicker-list {
    @include list-unstyled;
    margin-left: 1.7em;
    font-size: 0.8em;
}

.OrgPicker-item {
    cursor: pointer;
    margin: 0.5em 0;

    &:hover {
        color: $c-brand-main;
    }
}
