.OrgUserMenu {
    display: block;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 1.6em;

    &:hover {
        .OrgUserMenu-info {
            display: block;
        }
    }
}
.OrgUserMenu .Avatar {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    width: 2.4em;
    height: 2.4em;

    @include medium-screen {
        top: 11px;
        width: 1.85em;
        height: 1.85em;
    }
}

.OrgUserMenu-info {
    display: none;
    margin-top: 3em;
    margin-right: -0.6em;
    padding: 0.5em;
    color:white;
    @include card;

    ul {
        margin-top: 0.7em;
        font-size: 0.9em;
    }
    li {
        list-style-type: none;
        margin: 0.5em;

    }
    li a {
        text-decoration: none;
        color: lighten($c-text,10);

        &:hover {
            color: $c-brand-main;
        }

    }
    .OrgUserMenu-logout:before {
        @include icon($fa-var-power-off);
    }
    .OrgUserMenu-account:before {
        @include icon($fa-var-user);
    }
    .OrgUserMenu-myPage:before {
        @include icon($fa-var-home);
    }
    .OrgUserMenu-activeOrg:before {
        @include icon($fa-var-sitemap);
    }
}

.OrgUserMenu {
    transition: color 0.1s;

    &::before {
        z-index: 1000;
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
    }

    &:hover {
        &::before {
            opacity: 0.1;
            visibility: visible;
        }

        .OrgUserMenu-info ul {
            display: block;
        }

        color: white;
    }
}

.OrgUserMenu .Avatar {
    z-index: 3000;
}

.OrgUserMenu-info {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3000;

    display: block;
    margin-top: 0;
    margin-right: 0.3em;
    padding: 0;
    background-color: transparent;
    color: white;
    box-shadow: none;

    > ul {
        display: none;
        @include card;
        padding: 0.5em;
        margin-top: 0.8em;
    }
}

.OrgUserMenu-user {
    width: 14em;
    padding: 0.5em 3.5em 0.45em 0;
}

.OrgUserMenu-org{
    font-size: 0.7em;
    margin-top: 0.3em;
}

.OrgUserMenu-name,
.OrgUserMenu-org {
    text-align: right;
    display: block;

    @include medium-screen {
        display: none;
    }
}
