.ImportPane {
    .ImportPane-dropZone {
        background-color: darken($c-ui-bg,5);
        min-height: 200px;
        padding: 15% 10% 10%;
        margin: 2em;
        cursor: pointer;
        border: dashed 3px darken($c-ui-bg, 10);

        &:hover {
            background-color: darken($c-ui-bg,6);
        }
    }

    .ImportPane-dropZoneMessage {
        margin: -50px auto 0;
        text-align: center;
        color: darken($c-ui-bg, 40);

        &:before {
            @include icon($fa-var-file-o);
            font-size: 4em;
        }
    }

    .ImportPane-dropZone-isDragging {
        background-color: darken($c-ui-bg, 8);

         .ImportPane-dropZoneMessage {
            &:before {
                @include icon($fa-var-file);
                font-size: 4em;
            }
         }
    }

    .ImportPane-error {
        .Button {
            @include inline-button();
            margin: 0 1em 0 0;
        }
    }

    .LoadingIndicator {
        padding: 10% 25%;

        .LoadingIndicator-icon {
            font-size: 2em;
        }
    }

    .ImportPane-report {
        width: 350px;
        margin: 5% auto;
        @include card;
        padding: 1em;

        h1 {
            &:before {
                @include icon($fa-var-cloud-upload);
            }
        }

        ul {
            margin: 1em 0 4em;
        }

        li {
            font-size: 1.5em;
            margin: 0.5em 0;
        }

        .Button {
            @include inline-button();
            margin: 0;
        }
    }

    .ImportLogList {
        margin-top: 4em;
    }

    .ImportPane-dropzone {
        margin-top: 7em;
    }

    .ImporterTable-settings {
        z-index: 3;
    }
}
