.JoiningPane {
    .JoiningPane-addButton {
        @include inline-button($icon: $fa-var-plus);
        float: right;
    }

    .ViewSwitch-state-submissions:before {
        @include icon($fa-var-inbox);
    }

    .ViewSwitch-state-forms:before {
        @include icon($fa-var-cog);
    }

    .RootPaneBase-toolbar {
        display: flex;

        .viewSwitch {
            margin-right: 1em;
            margin-left: 1em;
            order: 0;
        }
        
        .RootPaneBase-filterButton {
            margin-left: 0;
            order: 1;
        }

        .JoiningPane-addButton {
            margin-right: 1em;
            margin-left: auto;
        }
    }
}
