.PeopleListPane {
    .PeopleListPane-addButton {
        @include inline-button($icon: $fa-var-plus);
        float: right;

        @include small-screen {
            background-color: transparent;
            border: 0;
        }
    }
}
