.PersonViewsPane {
    .RootPaneBase-content {
        overflow: auto;
        padding-top: 4rem;
    }
}

.PersonViewsPane-viewList {
    display: flex;
    flex-wrap: wrap;
}

.PersonViewsPane-viewItem {
    $diameter: 6rem;

    margin: 0 3em 4em;
    cursor: pointer;

    width: 1.7*$diameter;

    .PersonViewsPane-viewItemIcon {
        position: relative;
        width: $diameter;
        height: $diameter;
        margin: 0 auto 1em;

        &:before {
            position: absolute;
            top: 0;
            left: 0;

            content: "";
            display: block;
            background-color: white;
            width: $diameter;
            height: $diameter;
            border-radius: $diameter;

            transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s;
        }

        &:after {
            @include icon($fa-var-table);

            font-size: 5em;
            color: $c-ui-dark;
            text-align: center;
            padding: 0;
            margin: 0;

            position: absolute;
            top: 0.5*$diameter;
            left: 0.5*$diameter;

            transform: translate(-50%, -50%);
            transition: transform 0.2s color 0.1s;
                color: $c-brand-comp-light;
        }
    }

    &:hover {
        .PersonViewsPane-viewItemIcon {
            &:before {
                top: 0.05*$diameter;
                left: 0.05*$diameter;
                width: 0.9*$diameter;
                height: 0.9*$diameter;
            }

            &:after {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }

    &.PersonViewsPane-new {
        font-style: italic;

        .PersonViewsPane-viewItemIcon {
            &:after {
                @include icon($fa-var-file-o);
                font-size: 5em;
            }
        }
    }
}

.PersonViewsPane-topLinks {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &:before {
        content: none;
    }
    &:after {
        content: none;
    }
}

.PersonViewsPane-backLink {
    font-size: 1rem;
    color: $c-ui-darker;
    margin-right: 1rem;

    &:before {
        @include icon($fa-var-chevron-left);

        position: relative;
        left: 0;

        transition: left 0.2s;
    }

    &:hover {
        &:before {
            left: -0.1em;
        }
    }
}

.PersonViewsPane-collapseHeaderLink {
    @extend .PersonViewsPane-backLink;
    font-size: 1rem;
    color: $c-ui-darker;

    &:before {
        @include icon($fa-var-chevron-up);
        transition: top 0.2s;
    }

    &:hover {
        &:before {
            top: -0.1em;
        }
    }
}

.PersonViewsPane-collapseHeaderLink-collapsed {
    @extend .PersonViewsPane-collapseHeaderLink;
    &:before {
        @include icon($fa-var-chevron-down);
    }

    &:hover {
        &:before {
            top: 0.1em;
        }
    }
}

.PersonViewsPane-viewItemTitle {
    display: block;
    font-size: 1.4em;
    text-align: center;
}

.PersonViewsPane-singleViewHeader {
    @include large-screen {
        width: 50%;
        max-width: 30rem;
        float: left;
        min-height: 7rem;
        margin: 0 10% 1rem 0;

        h1 {
            margin-top: 0;
        }
    }
}

.PersonViewsPane-singleViewHeader-collapsed {
    @extend .PersonViewsPane-singleViewHeader;
    display: none;
}

.PersonViewsPane-adminLinks {
    margin-top: -1em;
    color: $c-text;

    a {
        display: inline-block;
        margin-right: 1em;
        text-decoration: underline;
        opacity: 0.6;
        transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }
    }

    .PersonViewsPane-deleteLink:before {
        @include icon($fa-var-trash);
        //color: $c-brand-delete;
    }

    .PersonViewsPane-settingsLink:before {
        @include icon($fa-var-cog);
    }
}

.PersonViewsPane-singleViewModes {
    min-height: 0rem;

    @include large-screen {
        float: right;
        width: 40%;
    }

    .ViewSwitch-state-saved:before {
        @include icon($fa-var-star-o);
    }

    .ViewSwitch-state-query:before {
        @include icon($fa-var-search);
    }

    .RelSelectInput {
        margin: 1em 0 0;
        max-width: 20rem;
    }
}

.PersonViewsPane-singleViewTable {
    @include large-screen {
        .PersonViewTable {
            position: fixed;
            top: 280px;
            left: 110px;
            right: 0;
            bottom: 0;
        }
    }
}

.PersonViewsPane-singleViewTable-collapsed {
    @extend .PersonViewsPane-singleViewTable;
    @include large-screen {
        .PersonViewTable { 
            top: 8.6rem;
        }
    }
}

// Fix for problem where view mode buttons are unusable in the collapsed header mode
.PersonViewTable {
    pointer-events: none;

    .PersonViewTable-tools {
        width: max-content;
        pointer-events: auto;
    }
    .PersonViewTable-table {
        pointer-events: auto;
    }
}

