.App:not(.animationComplete) {
    .Dashboard-header {
        animation: Dashboard-header-appear 2.2s normal ease;
        animation-fill-mode: backwards;
        animation-delay: 0.5s;
    }

    .Header {
        @include animateAppear(2.5s);
    }

    .Dashboard-favorites {
        @for $i from 1 through 6 {
            li:nth-child(#{$i}) {
                @include animateAppear(#{2.5 + $i/10}s);
            }
        }
    }

    .Dashboard-widgets {
        @include animateAppear(2.8s);
    }

    .Dashboard-shortcuts {
        @include animateAppear(3.5s);
    }

    .Dashboard-orgPageLink {
        @include animateAppear(3.5s);
    }

    .Footer {
        @include animateAppear(4s);
    }
}

@keyframes Dashboard-header-appear {
    0% {
        transform: translate(0, 25vh);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    60% {
        opacity: 1;
        transform: translate(0, 25vh);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.App-main {
    position: absolute;
    top: 6.8em;
    right: 0;
    left: 0;
}

@include medium-screen {
    .App-main {
        position: fixed;
        bottom: 0;
    }
}
