.App:not(.animationComplete) {
    .Dashboard-header {
        @include animateAppear(0.5s);
    }

    .Header {
        @include animateAppear(3s);
    }

    .Dashboard-favorites {
        @for $i from 1 through 6 {
            li:nth-child(#{$i}) {
                @include animateAppear(#{2.9 + $i/10}s);
            }
        }
    }

    .Dashboard-widgets {
        @include animateAppear(3s);
    }

    .Dashboard-shortcuts {
        @include animateAppear(4s);
    }

    .Dashboard-orgPageLink {
        @include animateAppear(4s);
    }

    .Footer {
        @include animateAppear(5s);
    }
}

.App-main {
    position: absolute;
    top: 6.8em;
    right: 0;
    left: 0;
}

@include medium-screen {
    .App-main {
        position: fixed;
        bottom: 0;
    }
}
