.ActionReminderPane {
    small {
        span {
            margin-right: 0.5em;
        }
    }

    .ActionReminderPane-reminderContent {
        border-bottom: 1px solid darken($c-ui-bg, 10);
        color: lighten($c-text, 40);
        list-style: disc;
        padding-left: 1em;
        padding-bottom: 2em;

        li {
            margin-left: .5em;
            font-size: 1.4em;

            @include small-screen {
                font-size: 1.2em;
            }

            span {
                font-style: italic;
            }
        }
        .ActionReminderPane-editableItem {
            cursor: pointer;
        }
    }

    .ActionReminderPane-newParticipants {
        li {
            float: left;
            margin: 0.2em;
        }

        .avatar {
            width: 3em;
            height: auto;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    form {
        margin: 2em 0 3em;
    }

    .ActionReminderPane-reminded {
        li {
            @include card;
            position: relative;
            margin: 1em 0;
            padding: 0.5em;

            .Avatar {
                @include col(2,12, $align:middle, $first:true);
                max-height: 6em;
            }

            .ActionReminderPane-remindedInfo {
                @include col(10,12, $align:middle, $last:true);
            }

            .Person {
                cursor: pointer;
                font-size: 1.7em;
            }

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }
    }
}
