.ActionPane {
    .InfoListItem-desc {
        position: relative;
        max-height: 8em;
        overflow: hidden;
        font-style: italic;

        &::before {
            @include icon($fa-var-info-circle);
        }

        &::after {
            // Fade out if too long text
            content:'';
            width:100%;
            height:100%;
            position:absolute;
            left:0;
            top:0;
            background:linear-gradient(transparent 4em, #f9f9f9);
        }
    }

    .InfoListItem-campaign {
        &::before {
            @include icon($fa-var-flag)
        }
    }

    .InfoListItem-date {
        &::before {
            @include icon($fa-var-calendar);
        }
    }

    .InfoListItem-time {
        &::before {
            @include icon($fa-var-clock-o);
        }
    }

    .InfoListItem-location {
        &::before {
            @include icon($fa-var-map-marker);
        }
    }

    .InfoListItem-activity {
        &::before {
            @include icon($fa-var-hand-rock-o);
        }
    }

    .InfoListItem-required {
        &::before {
            @include icon($fa-var-users);
        }
    }

    .InfoListItem-editLink {
        font-size: 1em;
    }

    .ActionPane-responses {
        position: relative;

        h3 {
            &::before {
                @include icon($fa-var-inbox);
            }
        }

        .ActionPane-responsesGuide {
            position: absolute;
            right: 0;
            top: 0.5em;
            color: lighten($c-text, 60);
            span {
                font-size: 1.1em;
                &::before {
                    @include icon($fa-var-question-circle);
                }
            }
        }

        .PersonCollectionItem, .DraggableAvatar {
            cursor: pointer;

            &:hover {
                background-color: darken(white, 2);
            }
        }

        .ActionPane-noResponses {
            padding: 0.5em 1em;
            color: lighten($c-text, 60);
            span {
                &::before {
                    @include icon($fa-var-info-circle);
                }
                font-size: 1.3em;
            }
        }
    }

    .ActionPane-contact {
        h3 {
            &::before {
                @include icon($fa-var-star-o);
            }
        }
    }

    .ActionPane-participants {
        h3 {
            &::before {
                @include icon($fa-var-check);
            }
        }
    }

    .ActionPane-reminders {
        .ActionBox {
            .ActionBox-content p {
                &::before {
                    color: lighten($c-text, 50);
                }

                &.checked {
                    &::before {
                        @include icon($fa-var-envelope-o);
                    }
                }

                &.waiting {
                    &::before {
                        @include icon($fa-var-hourglass-o);
                    }
                }

                &.missing {
                    &::before {
                        @include icon($fa-var-hourglass-end);
                    }
                }

                &.missingContact {
                    &::before {
                        @include icon($fa-var-star-o);
                    }
                }
            }
            .ActionBox-footer .ActionPane-reminderButton {
                @include inline-button($icon: $fa-var-paper-plane-o);
            }
        }
    }

    .ParticipantList {
        float: none;
    }
}
