.AddressPane.PaneBase {
    min-width: 450px;
}

.AddressPane {
    .InfoListItem-address {
        &:before {
            @include icon($fa-var-globe);
        }
    }

    .InfoListItem-position {
        &:before {
            @include icon($fa-var-location-arrow);
        }
    }

    .TagCloud {
        margin-top: 2em;
    }

    .AddressPane-routes {
        margin-top: 3em;

        li {
            @include card;
            padding: 1em;
            font-size: 1.3em;
            cursor: pointer;

            &:hover {
                background-color: darken(white, 1%);
            }

            &:before {
                @include icon($fa-var-compass);
            }
        }
    }
}
