.CallPane.PaneBase {
    min-width: 500px;
}

.CallPane {
    .PaneBase-content > h2 {
        color: lighten($c-text, 40);
        &:before {
            @include icon($fa-var-phone);
        }
    }
}

.CallPane-target {
    margin-bottom: 1em;

    .Avatar {
        @include col(2.5,12, $align:middle);
    }

    .CallPane-targetName {
        @include col(9.5,12, $align:middle);
    }
}
.CallPane-content {
    .CallPane-status {
        position: relative;
        padding: 0.6em 0 0.6em 1.5em;
        font-size: 1.5em;
        animation-delay: inherit;

        span {
            position: relative;
            display: inline-block;
            width: 48%;
            height: 0.1em;
            margin: 0 2% 0 0;
            background-color: lighten($c-ui-dark, 20%);
            vertical-align: middle;

            animation: CallPane-statusBarFirst-fadeInAnimation 1.0s;
            animation-fill-mode: backwards;
            animation-delay: inherit;
        }

        span+span {
            animation: CallPane-statusBarSecond-fadeInAnimation 1.0s;
            animation-fill-mode: backwards;
            animation-delay: inherit;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 0.5em;

            animation: CallPane-statusIcon-fadeInAnimation 1.0s;
            animation-fill-mode: backwards;
            animation-delay: inherit;
        }
    }

    &.status1 {
        // 1=Success
        .CallPane-status:before {
            color: $c-brand-success;
            @include icon($fa-var-check);
        }

        .CallPane-statusBar0, .CallPane-statusBar1 {
            background-color: $c-brand-success;
            height: 0.3em;
        }
    }

    &.status11, &.status12, &.status21 {
        // 11=No response, 12=Line busy, 21=Wrong number
        .CallPane-status:before {
            color: $c-brand-delete;
        }

        .CallPane-statusBar0, .CallPane-statusBar1 {
            background-color: $c-brand-delete;
        }
    }

    &.status11 {
        // 11=No response
        .CallPane-status:before {
            @include icon($fa-var-times);
        }
    }

    &.status12 {
        // 12=Line busy
        .CallPane-status:before {
            @include icon($fa-var-ellipsis-h);
        }
    }

    &.status21 {
        // 21=Wrong number
        .CallPane-status:before {
            @include icon($fa-var-flash);
        }
    }

    &.status13, &.status14, &.status15 {
        // 13=Picked up but no time, 14=Unavailable to talk, 15=Left message
        .CallPane-status:before {
            color: $c-ui-warning;
        }

        .CallPane-statusBar0, .CallPane-statusBar1 {
            background-color: $c-ui-warning;
        }

        .CallPane-statusBar0 {
            height: 0.3em;
        }
    }

    &.status13 {
        // 13=Picked up, but did not have time to talk
        .CallPane-status:before {
            @include icon($fa-var-clock-o);
        }
    }

    &.status14 {
        // 14=Unavailable to talk (other person picked up)
        .CallPane-status:before {
            @include icon($fa-var-user-times);
        }
    }

    &.status15 {
        // 15=Left voicemail message
        .CallPane-status:before {
            @include icon($fa-var-envelope-o);
        }
    }
}

.CallPane-summary {
    font-size: 1.4em;
    margin: 0em 2em 1.5em;
    font-style: italic;
}

.CallPane-caller {
    @include col(6,12, $align:middle);

    .Avatar {
        @include col(3,12, $align:middle, $first:true);
    }

    .CallPane-callerName {
        @include col(9,12, $align:middle);
        font-size: 1.5em;
    }
}

.CallPane-date {
    @include col(6,12, $align:middle);
    font-size: 1.5em;
    text-align: right;

    &:before {
        @include icon($fa-var-clock-o);
    }
}

@mixin message {
    h3 {
        margin-bottom: 0.5em;
        &:before {
            @include icon($fa-var-sticky-note-o);
        }
    }

    p {
        position: relative;
        border-left: 3px solid #555;
        padding-left: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
    }

    .empty {
        font-style: italic;
        color: lighten($c-text, 40);
        p {
            border-left: 0;
        }
    }
}

.CallPane-callerNote {
    @include col(12,12);
    @include message;
    margin-bottom: 2em;
}

.CallPane-action {
    background-color: darken(white, 5);
    border-radius: 2px;
    margin-top: 2em;

    &.needed .CallPane-actionHeader {
        background-color: $c-ui-warning;
    }

    &.taken .CallPane-actionHeader {
        background-color: $c-brand-success;
    }

    .CallPane-actionHeader {
        color: white;
        font-size: 1.5em;
        padding: 0.5em;
        border-radius: 2px 2px 0 0;

        &:before {
            @include icon($fa-var-bell-o);
        }
    }

    .CallPane-actionContent {
        @include message;
        padding: 0 1em;
    }

    .CallPane-actionResponse {
        padding: 1em;
        text-align: right;
    }

    &.needed .CallPane-actionResponseButton {
        @include button($icon:$fa-var-check, $color:$c-brand-success);
    }

    &.taken .CallPane-actionResponseButton {
        @include inline-button($icon:$fa-var-undo);
    }
}