.CanvassAssignmentPane.PaneBase {
    min-width: 450px;

    @include small-screen {
        min-width: 100%;
    }
}

.CanvassAssignmentPane {
    .InfoListItem-description {
        &:before {
            @include icon($fa-var-info-circle);
        }
    }

    .InfoListItem-dates {
        &:before {
            @include icon($fa-var-calendar);
        }
    }

    .CanvassAssignmentPane-info {
        position: relative;
    }

    .InfoListItem-editLink {

        &:before {
            @include icon($fa-var-pencil);
        }
    }

    .CanvassAssignmentPane-routesLink {
        margin-top: 2em;
        width: 100%;
        @include button($icon:$fa-var-map-signs);
    }

    .CanvassAssignmentPane-instructions{
        padding-bottom: 2em;
        margin-bottom: 2em;
        border-bottom: 1px solid #ececec;
        > div {
            position: relative;
            border-left: 3px solid #555;
            padding-left: 10px;
            max-height: 120px;
            overflow: hidden;
            margin-bottom: 20px;

            &::after {
                content:'';
                width:100%;
                height:100%;
                position:absolute;
                left:0;
                top:0;
                background:linear-gradient(transparent 80px, #f9f9f9);
            }

            p {
                margin-top: 0;
                font-size: inherit;
            }
        }
    }
}
