.EditCampaignPane {

    .EditCampaignPane-deleteButton {
        @include button($color: $c-brand-delete);
        width: 100%;
    }

    small a {
        display: block;
        margin-bottom: 2em;
    }
}
