.EditTextPane {
    width: 600px;

    .EditTextPane-editor {
        @include card;
        background-color: white;
        padding: 0.5em;
        min-height: 400px;

        button {
            border-width: 0;
        }

        .DraftEditor-editorContainer {
            * {
                font-family: franklin-gothic-urw, sans-serif;
            }

            h1 {
                font-size: 2.1em;
            }

            h2 {
                font-size: 1.7em;
            }

            h3 {
                font-size: 1.3em;
            }

            a {
                color: $c-brand-main;
            }
        }
    }

    .Button.EditTextPane-saveButton {
        @include col(5,11, $last:true);
        @include col-offset(1,11);
        @include button($icon: $fa-var-save);

        @include small-screen {
            @include col(12,12);
            margin: 0.7em 0 0;
        }
    }

    .Button.EditTextPane-closeButton {
        @include col(5,11, $first:true);
        @include button($color: $c-ui-dark, $icon: $fa-var-close);

        @include small-screen {
            @include col(12,12);
            margin-left: 0;
        }
    }
}
