.GroupPane {
    .InfoListItem-desc {
        font-style: italic;
        &::before {
            @include icon($fa-var-info-circle);
        }
    }

    .InfoListItem-size {
        &::before {
            @include icon($fa-var-users);
        }
    }

    .InfoListItem-link {
        &::before {
            @include icon($fa-var-external-link);
        }
    }
}

.GroupPane-memberList {
    li {
        display: inline-block;
        margin: 0 0.2em 0.2em 0;

        .Avatar {
            width: 3em;
        }
    }
}
