.PaneBase.ImportActionsPane {
    min-width: 760px;

    .ImportActionsPane-dropZone {
        background-color: darken($c-ui-bg,5);
        min-height: 200px;
        padding: 15% 10% 10%;
        cursor: pointer;
        border: dashed 3px darken($c-ui-bg, 10);

        &:hover {
            background-color: darken($c-ui-bg,6);
        }

        h3, ul, p {
            width: 90%;
            margin: 0.2em auto 0.4em;
        }

        ul {
            width: 80%;
            text-align: left;

            li {
                list-style-type: disc;
                margin-left: 3em;
            }
        }

        &.dragging {
            background-color: darken($c-ui-bg, 8);

             .ImportActionsPane-dropZoneMessage {
                &:before {
                    @include icon($fa-var-file);
                    font-size: 4em;
                }
             }
        }
    }

    .ImportActionsPane-dropZoneMessage {
        margin: -50px auto 0;
        text-align: center;
        color: darken($c-ui-bg, 40);

        &:before {
            @include icon($fa-var-file-o);
            font-size: 4em;
        }
    }

    .ImportActionsPane-actionItem {
        @include card();
        display: flex;
        margin: 1em 0;
    }

    .ImportActionsPane-actionItemMeta,
    .ImportActionsPane-actionItemDate,
    .ImportActionsPane-actionItemLocation,
    .ImportActionsPane-actionItemActivity,
    .ImportActionsPane-actionItemInfo {
        font-size: 1.2em;
        padding: 0.8em 0.7em;

        h4 {
            display: block;
            font-weight: bold;
            font-family: franklin-gothic-urw, sans-serif;
            font-size: inherit;
            margin: 0 0 0.3em;
        }

        span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0.2em 0;
            color: $c-ui-darker;
            white-space: nowrap;

            &.linked {
                cursor: pointer;

                &:after {
                    @include icon($fa-var-link);
                    font-size: 0.8em;
                }
            }
        }

        small {
            display: block;
            font-size: 0.8em;
            margin-top: 0.6em;
            color: $c-ui-dark;
            font-style: italic;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        select {
            margin: 0.4em 0 0;
            padding: 0em;
            font-size: inherit;
        }
    }

    .ImportActionsPane-actionItemMeta {
        width: 5%;
        background-color: $c-ui-bg;
    }

    .ImportActionsPane-actionItemDate {
        width: 17%;
    }

    .ImportActionsPane-actionItemLocation {
        width: 26%;
    }

    .ImportActionsPane-actionItemActivity {
        width: 26%;
    }

    .ImportActionsPane-actionItemInfo {
        width: 26%;
    }
}
