.PaneBase.ImportActionsPane {
    min-width: 760px;

    .PaneBase-footer {
        // TODO: Don't hardcode footer when variable-height footers work
        height: 100px;
    }

    .ImportActionsPane-dropZone {
        background-color: darken($c-ui-bg,5);
        min-height: 200px;
        padding: 15% 10% 10%;
        cursor: pointer;
        border: dashed 3px darken($c-ui-bg, 10);

        &:hover {
            background-color: darken($c-ui-bg,6);
        }

        h3, ul, p {
            width: 90%;
            margin: 0.2em auto 0.4em;
        }

        ul {
            width: 80%;
            text-align: left;

            li {
                list-style-type: disc;
                margin-left: 3em;
            }
        }

        &.dragging {
            background-color: darken($c-ui-bg, 8);

             .ImportActionsPane-dropZoneMessage {
                &:before {
                    @include icon($fa-var-file);
                    font-size: 4em;
                }
             }
        }
    }

    .ImportActionsPane-dropZoneMessage {
        margin: -50px auto 0;
        text-align: center;
        color: darken($c-ui-bg, 40);

        &:before {
            @include icon($fa-var-file-o);
            font-size: 4em;
        }
    }

    .ImportActionsPane-campaign {
        &.invalid {
            select {
                box-shadow: 0 0 0.2em rgba($c-ui-warning, 1);
            }
        }
    }

    .ImportActionsPane-stats {
        .Button {
            margin-right: 1em;
        }
    }

    .ImportActionsPane-actionItem {
        @include card();
        display: flex;
        margin: 1.5em 0;
        height: 9em;
        font-size: 1.2em;

        h4 {
            font-weight: bold;
            font-family: franklin-gothic-urw, sans-serif;
            font-size: inherit;
            margin: 0 0 0.3em;
        }

        &.complete {
            flex-direction: column;
            cursor: pointer;

            h4 {
                text-align: center;
                margin: 1em 0 0.3em;

                &:before {
                    @include icon($fa-var-check-circle);
                    display: block;
                    margin: 0 auto;
                    color: $c-brand-success;
                    font-size: 2em;
                }
            }

            p {
                margin: 0;
                text-align: center;
                font-size: 1em;
            }
        }

        &.valid {
            .ImportActionsPane-actionItemMeta {
                &:after {
                    content: $fa-var-check-circle;
                    color: $c-ui-dark;
                }
            }
        }

        &.invalid {
            .ImportActionsPane-actionItemMeta {
                &:after {
                    content: $fa-var-warning;
                    color: $c-ui-warning;
                }
            }
        }

        &.waiting, &.pending {
            .ImportActionsPane-actionItemMeta {
                display: flex;
                align-items: center;
            }
        }

        &:hover {
            background-color: darken(white, 2);
            .ImportActionsPane-actionItemMeta {
                background-color: darken($c-ui-bg, 2);
            }
        }
    }

    .ImportActionsPane-actionItemMeta {
        padding: 0.8em 0;
        text-align: center;
        position: relative;
        font-size: 1.4em;

        &:after {
            @include fa-icon;
            display: block;
            position: absolute;
            bottom: 0.7em;
            left: 0;
            right: 0;
        }

        .LoadingIndicator {
            font-size: 1.1em;
        }
    }

    .ImportActionsPane-actionItemDate,
    .ImportActionsPane-actionItemLocation,
    .ImportActionsPane-actionItemActivity,
    .ImportActionsPane-actionItemInfo,
    .ImportActionsPane-actionItemTitle {
        font-size: inherit;
        padding: 0.8em 0.7em;

        span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0.2em 0;
            color: $c-ui-darker;
            white-space: nowrap;

            &.linked {
                cursor: pointer;

                &:after {
                    @include icon($fa-var-link);
                    font-size: 0.8em;
                }
            }
        }

        small {
            display: block;
            font-size: 0.8em;
            margin-top: 0.6em;
            color: $c-ui-dark;
            font-style: italic;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        select {
            margin: 0.4em 0 0;
            padding: 0em;
            font-size: inherit;
            max-width: 100%;

            &.unlinked {
                box-shadow: 0 0 0.2em rgba($c-ui-warning, 1);
            }
        }
    }

    .ImportActionsPane-actionItemMeta {
        width: 5%;
        background-color: $c-ui-bg;
    }

    .ImportActionsPane-actionItemDate {
        width: 17%;
    }

    .ImportActionsPane-actionItemLocation {
        width: 19.5%;
    }

    .ImportActionsPane-actionItemActivity {
        width: 19.5%;
    }

    .ImportActionsPane-actionItemInfo {
        width: 19.5%;
    }

    .ImportActionsPane-actionItemTitle {
        width: 19.5%;
    }

    .ImportActionsPane-errorRow {
        padding: 0 0.5em 0.5em;
        text-align: center;
        color: $c-ui-dark;

        &:before {
            @include icon($fa-var-warning);
            display: block;
            margin: 0 auto;
        }

        span {
            &:after {
                content: " ";
            }
        }
    }

    .ImportActionsPane-formatWarning,
    .ImportActionsPane-linkWarning {
        &:before {
            @include icon($fa-var-warning);
            font-size: 1.6em;
            color: $c-ui-warning;
            margin: 0 auto;
            display: block;
        }

        background-color: rgba(0,0,0,0.05);
        padding: 0.4em 8em 1em;
        margin: 0.5em 0;
        text-align: center;
    }
}
