.ImporterColumnPane {
    select {
        font-size: 1.5em;
    }

    .ImporterColumnPane-settings {
        & > span {
            font-size: 1.3em;
        }

        .PersonDataColumnSettings, .PersonTagColumnSettings-mapping {
            margin-bottom: 2em;
            @include card;
            padding: 10px;
        }
    }
}
