.MoveParticipantsPane {
    min-width: 400px;

    button {
        width: 100%;
        margin: 0.5em 0;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        @include card;

        list-style-type: none;
        padding: 1em;
        margin: 1em 0;
        font-size: 1.1em;

        button {
            display: block;
            width: 46%;
            float: left;
            clear: both;
            margin: 1em 0 0;

            & + button {
                clear: none;
                float: right;
            }
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }

        .Person {
            display: block;
            font-weight: bold;
            cursor: pointer;
        }

        .Action {
            width: 45%;
            display: block;
            float: left;

            padding: 0.5em;
            padding: 0.5em;

            .date, .activity, .location {
                display: block;
            }
        }

        .Action + .Action {
            position: relative;
            float: right;
            &::before {
                content: "\25B6";
                position: absolute;
                left: -14%;
                top: 1.5em;
            }
        }
    }
}
