.PaneBase {
    left: 0;
    right: 0;
    position: absolute;
    min-width: 400px;
    background-color: $c-ui-bg;
    color: lighten($c-text, .3);
    z-index: 1;

    &.PaneBase-scrolled {

        &:first-child {
            .PaneBase-header {
                z-index: 5;
                background-color: rgba(lighten($c-ui-bg, 20),1);
                height: 55px;
                box-shadow: 0 0 0.2em rgba(0,0,0,0.1);
            }
        }
    }

    .PaneBase-content {
        padding: 0 2em 2em;

        h3 {
            font-size: 18px
        }
    }

    .PaneBase-shader {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 10;
    }

    &:first-child {
        .PaneBase-closeLink {
            display: none;
        }
    }

    &:first-child:not(:last-child){
        // If there are more than one pane open
        height: 40px;
        overflow: hidden;
    }

    // Completely transparent link placed just over the pane (where the header
    // of the underlying pane shows). The user will be tapping the underlying
    // header, but actually hitting this to close the overlying pane.
    .PaneBase-closelink {
        background: transparent;
        position: absolute;
        cursor: pointer;
        top: -40px;
        left: 0;
        right: 0;
        height: 40px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -40px;
        left: 0;
        width: 100%;
        height: 40px;
        background: linear-gradient(180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1) 80%, rgba(0,0,0,0.2));
    }

    @include medium-screen {
        position: absolute;
        top: 0;
        bottom: 0;
        right: auto;
        display: block;
        box-shadow: 0 0 2em rgba(0, 0, 0, 0.1);

        &:first-child:not(:last-child){
        // If there are more than one pane open
            height: auto;
            overflow: visable;
        }

        &::before {
        }

        .PaneBase-header {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 60px;
            z-index: 1;
            background-color: $c-ui-bg;
            transition: background-color .3s, height .3s;
            .PaneBase-toolbar {
                padding: 1em;
                color: #666666;
                > * { // All direct children
                    display: inline-block;
                    margin-right: 0.5em;
                    margin-bottom: 0;
                }
            }
        }

        .PaneBase-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: white;
            padding: 20px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            text-align: center;
            z-index: 3;
            button {
                @include button($color:$c-brand-confirm);
                width: 100%;
            }
        }

        .PaneBase-closeLink {
            top: 0;
            left: -5px;
            right: auto;
            transition: all .1s;
            font-size: 2.5em;
            color: lighten($c-text, 85);
            &::before{
                @include icon($fa-var-close);
            }
        }

        .PaneBase-content {
            display: block;
            // margin-top: 70px;
            padding: 50px 30px 80px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar { // hides scrollbar in webkit browsers.
                width: 0px;
                background: transparent;
            }

            h2 {
                margin-top: 0;
                font-size: 2.0em;
            }
            h3 {
                font-size: 1.7em;
            }
            p {
                font-size: 1.4em;
                line-height: 1.8em
            }
            small {
                font-size: 1.1em;
            }
        }

        .PaneBase-shader {
            display: block;
        }

        // Use smaller padding on base pane, which does not have a close
        // button that needs to be avoided
        &:first-child {
            // Base pane, always full-width and not interactive
            left: 0;
            right: 0;

            .PaneBase-content {
                padding-left: 20px;
                margin-top: 1em;
            }

            header {
                margin-top: 0;
            }
        }

        &:last-child {
            position: absolute;
            top: 0;

            .PaneBase-shader {
                display: none;
            }
        }

        &:not(:first-child) {
            // Sub pane specific styling
            .PaneBase-header {
                width: 20px;
                height: 100%;

                &:hover {
                    cursor:col-resize;
                    .PaneBase-closelink {
                        color: lighten($c-text, 80);
                    }
                }

                &:before {
                    @include icon($fa-var-ellipsis-v);
                    position: absolute;
                    top: calc(50% - 1em);
                    left: -1.5px;
                    color: darken($c-ui-bg, 5);
                    font-size: 2em;
                }
            }

            .PaneBase-content {
                padding-top: 70px;
            }

            &.PaneBase-scrolled {
                .PaneBase-closelink {
                    top: 0;
                    left: -1.5px;
                    font-size: 2em;
                    color: lighten($c-text, 95);
                    &:hover {
                        color: lighten($c-text, 80);
                    }
                }
            }
        }

    }
}
