.PaneBase {
    left: 0;
    right: 0;
    position: absolute;
    min-width: 400px;
    background-color: $c-ui-bg;
    color: lighten($c-text, .3);

    .PaneBase-content {
        margin-top: 1em;
        padding: 0 2em 2em;

        h3 {
            font-size: 18px
        }
    }

    .PaneBase-shader {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }

    &:first-child {
        .PaneBase-closeLink {
            display: none;
        }
    }

    // Completely transparent link placed just over the pane (where the header
    // of the underlying pane shows). The user will be tapping the underlying
    // header, but actually hitting this to close the overlying pane.
    .PaneBase-closelink {
        background: transparent;
        position: absolute;
        cursor: pointer;
        top: -40px;
        left: 0;
        right: 0;
        height: 40px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -40px;
        left: 0;
        width: 100%;
        height: 40px;
        background: linear-gradient(180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1) 80%, rgba(0,0,0,0.2));
    }

    @include medium-screen {
        position: absolute;
        top: 0;
        bottom: 0;
        right: auto;
        display: block;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -10px;
            width: 10px;
            height: 100%;
            background: linear-gradient(90deg, rgba(0,0,0,0.0), rgba(0,0,0,0.02));
        }

        .PaneBase-header {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            .PaneBase-toolbar {
                margin: 1em;
                color: #666666;
            }
        }

        .PaneBase-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: white;
            padding: 20px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            text-align: center;
        }

        .PaneBase-closeLink {
            top: 10px;
            left: 10px;
            right: auto;

            &::before{
                @include icon($fa-var-close);
                color: #ddd;
                font-size: 2.4em;
            }
        }

        .PaneBase-content {
            display: block;
            margin-top: 70px;
            padding: 0 30px 80px;
            position: absolute;
            top: 0;
            left: 0;
            right: -20px;
            bottom: 0;
            overflow-y: scroll;
            overflow-x: hidden;

            h2 {
                margin-top: 0;
                font-size: 2.0em;
            }
            h3 {
                font-size: 1.7em;
            }
            p {
                font-size: 1.4em;
                line-height: 1.8em
            }
        }

        .PaneBase-shader {
            display: block;
        }

        // Use smaller padding on base pane, which does not have a close
        // button that needs to be avoided
        &:first-child {
            // Base pane, always full-width and not interactive
            left: 0;
            right: 0;

            .PaneBase-content {
                padding-left: 20px;
            }

            header {
                margin-top: 0;
            }
        }

        &:last-child {
            position: absolute;
            top: 0;

            .PaneBase-shader {
                display: none;
            }
        }
    }
}
