.PersonPane {
    .DraggableAvatar {
        float: left;
        height: 12em;
        @include col(4,12, $first:true);
    }

    .InfoList {
        margin: 1em 0 0;
        clear: both;

        li {
            @include col(12,12, $first:true);
            &:before {
                margin-right: 0.5em;
            }
        }

        .PersonPane-emptyField {
            color: lighten($c-text, 60);
        }

        .InfoListItem-user {
            &::before {
                @include icon($fa-var-user);
            }

            &.PersonPane-emptyField {
                &::before {
                    @include icon($fa-var-remove);
                }
            }
        }

        .InfoListItem-email {
            &::before {
                @include icon($fa-var-envelope-o);
            }
        }

        .InfoListItem-phone {
            &::before {
                @include icon($fa-var-phone);
            }
        }

        .InfoListItem-address {
            &:before {
                @include icon($fa-var-home);
            }
            span {
                display: block;
                margin-left: 2em;
                margin-bottom: 0.5em;
                &:first-child {
                    margin-top: -1.4em;
                }
            }
        }

        .InfoListItem-timeline {
            &:before {
                @include icon($fa-var-ellipsis-v);
            }
        }

        .InfoListItem-editLink {
            font-size: 1em;
        }
    }

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }

}
