.PlaceLocationPane {
    width: 700px;

    .LocationMap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .PaneBase-header {
        background-color: transparent;
    }

    .PaneBase-footer {
        .PlaceLocationPane-closeButton {
            @include button($color: $c-ui-dark, $icon: $fa-var-times);
            float: left;
        }

        .PlaceLocationPane-saveButton {
            @include button($icon: $fa-var-check);
            float: right;
        }

        .Button {
            max-width: 200px;
        }
    }
}
