.PaneBase.QueryPane {
    min-width: 480px;

    @include small-screen {
        min-width: 100%;
    }

    small a {
        display: block;
        margin-bottom: 2em;
        cursor:pointer;
        &::before {
            @include icon($fa-var-pencil);
        }
    }

    .InfoList {
      margin-bottom: 2em;
    }

    .InfoListItem-desc {
        font-style: italic;
        &::before {
            @include icon($fa-var-info-circle);
        }
    }

    .InfoListItem-size {
        &::before {
            @include icon($fa-var-users);
        }
    }
}
