.PaneBase.QueryPane {
    min-width: 480px;

    small {
        display: block;
        margin-bottom: 2em;
        
        >a {
            cursor:pointer;
            &::before {
                @include icon($fa-var-pencil);
            }
        }
        
        >span {
            &::before {
                @include icon($fa-var-share-alt);
            }
        }
    }

    .InfoList {
      margin-bottom: 2em;
    }

    .InfoListItem-desc {
        font-style: italic;
        &::before {
            @include icon($fa-var-info-circle);
        }
    }

    .InfoListItem-size {
        &::before {
            @include icon($fa-var-users);
        }
    }

    .InfoListItem-diff {
        &::before {
            @include icon($fa-var-clone);
        }
    }

    .InfoListItem-refresh {
        &::before {
            @include icon($fa-var-refresh);
        }
    }
}

.QueryPane-sharedQuery {
    font-size: 0.5em;
}
