.RouteFromAddressesPane {

    .InfoList {
        .InfoListItem-households {
            &:before {
                @include icon($fa-var-home);
            }
        }

        .InfoListItem-size {
            &:before {
                @include icon($fa-var-bullseye);
            }
        }
    }

    .RouteFromAddressesPane-create {
        margin-bottom: 2em;
        border-bottom: 1px solid darken($c-ui-bg, 10);

        h3 {
            &:before {
                @include icon($fa-var-plus);
            }
        }

        button {
            @include button();
            width: 100%;
        }

    }

    .RouteFromAddressesPane-extend {
        margin-bottom: 2em;

        h3 {
            &:before {
                @include icon($fa-var-plus-square);
            }
        }

        button {
            @include button();
            width: 100%;
        }
    }
}