.RoutePane.PaneBase {
    min-width: 450px;
}

.RoutePane {
    .RoutePane-title {
        &:before {
            @include icon($fa-var-compass);
        }
    }

    .RoutePane-info {
        color: lighten($c-text, 40);
        position: relative;

        @include small-screen {
            border-bottom: 1px solid darken($c-ui-bg, 10);
        }

        .InfoList {

            @include small-screen {
                border-bottom: 0;
                padding-bottom:  0;
            }

            li {
                font-size: 1.4em;
                margin: 0.5em 0;
            }
        }

        .InfoListItem-address_count {
            &:before {
                @include icon($fa-var-map-marker);
            }
        }

        .InfoListItem-household_count {
            &:before {
                @include icon($fa-var-home);
            }
        }

        .InfoListItem-info {
            &:before {
                @include icon($fa-var-info-circle);
            }
        }

        .InfoListItem-edit {
            &:before {
                @include icon($fa-var-pencil);
            }
        }
    }

    .RoutePane-editLink {
        position: absolute;
        top: 0;
        right: 0;

        @include small-screen {
            margin: 0.4em 0 1.4em;
            position: static;
        }

        &:before {
            @include icon($fa-var-pencil);
        }
    }

    .RoutePane-owner {
        h3 {
            &:before {
                @include icon($fa-var-star);
            }
        }
    }

    .RoutePane-tags {
        h3 {
            &:before {
                @include icon($fa-var-tag);
            }
        }
    }
}
