.SelectPersonTagsPane {

    .TagCloud {
        min-height: 32px;
    }

    .TagCloudItem {
        cursor: pointer;
    }

    .SelectPersonTagsPane-tagsFilter {
        margin-top: 1em;
    }

    .SelectPersonTagsPane-saveButton {
        @include inline-button($color:$c-brand-confirm, $icon:$fa-var-floppy-o);
    }
    .SelectPersonTagsPane-createButton {
        @include inline-button($icon:$fa-var-tag);
        margin-bottom: 1em;
    }
}
