.SurveySubmissionPane {

    &.PaneBase {
        min-width: 500px;
    }

    .PaneBase-content > h2 {
        color: lighten($c-text, 30);
        &:before {
            @include icon($fa-var-inbox);
        }
    }

    .SurveySubmissionPane-infoSurvey {
        &:before {
            @include icon($fa-var-list-ul);
        }
    }

    .SurveySubmissionPane-infoDate {
        &:before {
            @include icon($fa-var-clock-o);
        }
    }

    .SurveySubmissionPane-respondent {
        @include col(9,12, $align:middle);

        .Avatar {
            @include col(3,12, $align:middle, $first:true);
        }

        .SurveySubmissionPane-respondentInfo {
            @include col(8,12, $align:middle);
        }

        .SurveySubmissionPane-name {
            @include col(12,12, $first:true);
            font-size: 1.8em;
        }

        .SurveySubmissionPane-mail {
            @include col(12,12, $first:true);
            font-size: 1.5em;
        }

        &:after {
            content: "";
            display: block;
            clear: both;
        }

        span {
            font-size: 1.2em;
        }

        &.anonymous {
            span {
                font-style: italic;
            }
        }

        figure, .Avatar {
            display: block;
            margin: 0 10px 0 0;
            float: left;
            width: 60px;
            height: 60px;
        }

        figure {
            background-color: $c-ui-dark;
            color: $c-ui-darker;
            font-size: 4em;
            text-align: center;
        }
    }

    .SurveySubmissionPane-connected {
        @include col(3,12, $last:true);
    }

    .SurveySubmissionPane-responses {
        h3:before {
            @include icon($fa-var-comments-o);
        }
    }
}
