.SurveySubmissionPane {

    &.PaneBase {
        min-width: 520px;
    }

    .PaneBase-content > h2 {
        color: lighten($c-text, 30);
        &:before {
            @include icon($fa-var-inbox);
        }
    }

    .SurveySubmissionPane-infoSurvey {
        &:before {
            @include icon($fa-var-list-ul);
        }
    }

    .SurveySubmissionPane-infoDate {
        &:before {
            @include icon($fa-var-clock-o);
        }
    }

    .SurveySubmissionPane-respondent {
        @include col(12,12, $align:middle);

        .Avatar {
            @include col(2,12, $align:middle, $first:true);
        }

        .SurveySubmissionPane-unknown {
            @include unknown;
            @include col(2,12, $align:middle, $first:true);
            margin-right: 0.5em;
        }

        &.anonymous {
            .SurveySubmissionPane-unknown {
                @include unknown($icon:$fa-var-user-secret);
                @include col(2,12, $align:middle, $first:true);
                margin-right: 0.5em;
            }
        }

        .SurveySubmissionPane-respondentInfo {
            @include col(7,12, $align:middle);
        }

        .SurveySubmissionPane-name {
            @include col(12,12, $first:true, $last:true);
            font-size: 1.8em;
            margin-bottom: 0.2em;
        }

        .SurveySubmissionPane-email {
            @include col(12,12, $first:true, $last:true);
            font-size: 1.3em;
        }

        .SurveySubmissionPane-connected {
            @include col(3,12, $last:true);
            font-size: 1.3em;

            &:before {
                @include icon($fa-var-check);
            }
        }

        &:after {
            content: "";
            display: block;
            clear: both;
        }

        &.anonymous {
            span {
                font-style: italic;
            }
        }
    }

    .SurveySubmissionPane-responses {
        h3:before {
            @include icon($fa-var-comments-o);
        }
    }

    .SurveySubmissionPane-response {
        font-size: 1.4em;
        h4 {
            font-size: 1.1em;
            &:before {
                @include icon($fa-var-question);
            }
        }

        ul {
            margin-left: 2em;
            li {
                &:before {
                    @include icon($fa-var-check-square-o);
                }
            }
        }

        .SurveySubmissionPane-responseText {
            border-left: 2px solid #000;
            margin-left: 2em;
            padding-left: 0.5em;
        }
    }
}
