.SurveyPane {
    .InfoListItem-desc {
        position: relative;
        max-height: 8em;
        overflow: hidden;
        font-style: italic;

        &::before {
            @include icon($fa-var-info-circle);
        }

        &::after {
            // Fade out if too long text
            content:'';
            width:100%;
            height:100%;
            position:absolute;
            left:0;
            top:0;
            background:linear-gradient(transparent 4em, #f9f9f9);
        }
    }

    .InfoListItem-access {
        &::before {
            @include icon($fa-var-eye);
        }
    }

    .InfoListItem-anonymous {
        &::before {
            @include icon($fa-var-pencil-square-o);
        }
    }

    .InfoListItem-link {
        &::before {
            @include icon($fa-var-external-link);
        }
    }

    .InfoListItem-editLink {
        font-size: 1em;
    }

    .SurveyPane-contentBreakdown {
        font-size: 1.5em;
    }

    .SurveyPane-contentBreakdown-questions {
        &:before {
            @include icon($fa-var-question);
        }
    }

    .SurveyPane-contentBreakdown-text {
        &:before {
            @include icon($fa-var-align-left);
        }
    }

    .SurveyPane-contentEdit {
        @include inline-button($icon:$fa-var-pencil);
        margin-top: 1em;
    }
}
