.AllRoutesPane {
    .RoutePanel {
        position: absolute;
        top: 6em;
        bottom: 2em;
        left: 2em;
        width: 32em;
        z-index: 2;
    }

    .AddressMap {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }
}
