.Search {
    position: relative;
    margin: 0 auto 0 auto;
    width: 65%;

    @include small-screen {
        margin: 0;
        width: 100%;
    }

    @include mini-screen {
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        transition: all .2s ease;
    }

    &::before {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.0;
        z-index: 1000;
        visibility: hidden;
        transition: opacity 0.4s;
    }

    &.focused {

        &::before {
            visibility: visible;
            opacity: 0.2;
        }
    }

    input {
        position: relative;
        z-index: 3000;
        display: block;
        height: 2em;
        padding: 0.4em 0.4em 0.4em 2.5em;
        border-width: 0;
        font-size: 1.5em;
        width: 100%;
        border-radius: 2px;
        font-weight: 400;
        font-family: Arial, sans-serif;
        -webkit-appearance: none;

        @include small-screen {
            font-size: 1.2em;
            height: 32px;
            margin: 0 auto;
            padding: 0.4em 0.4em 0.4em 3.7em;
            width: 65%;
        }

        @include mini-screen {
            width: 75%;
        }

        &:focus {
            text-align: left;
        }

        @include mini-screen {

            // WebKit browsers
            &::-webkit-input-placeholder {
             color: transparent;
            }

            // Mozilla Firefox 4 to 18
            &:-moz-placeholder {
               color: transparent;
               opacity:  1;
            }

            // Mozilla Firefox 19+
            &::-moz-placeholder {
               color: transparent;
               opacity:  1;
            }

            // Internet Explorer 10+
            &:-ms-input-placeholder {
               color: transparent;
            }
        }
    }
}

.Search-keepTyping {
    padding: 0.8em 4em 0.8em 1em;
    font-size: 1.1em;
    text-align: center;
}

.Search-results {
    display: block;
    position: absolute;
    z-index: 3000;
    top: 30px;
    left: 0;
    right: 0;
    background-color: white;
    overflow: scroll;
    max-height: 100vh;

    @include small-screen {
        left: -1.8em;
        padding: 1em;
        top: 55px;
        width: 100vw;
    }
}
