.filter {
    position: relative;
    @include card;
    padding: 2em 1em 1em;
    margin: 1em 0;

    .filter-remove {
        display: block;
        position: absolute;
        top: 0.5em;
        left: 1em;
        overflow: hidden;
        width: 1em;
        height: 1em;
        cursor: pointer;

        &::before {
            content: "\f00d";
            display: inline-block;
            font: normal normal normal 10px FontAwesome;
            height: 15px;
            width: 15px;
        }
    }
}

.pseudofilter {
    border: 3px dashed #e8e8e8;
    padding: 2em;

    select {
        margin: 0;
    }
}
