.OfficialList {
    &:after {
        content: "";
        display: block;
        clear: both;
    }

    li {
        width: 150px;
        height: 240px;
        @include card;
        margin: 0 1em 1em;
        padding: 1em;
        float: left;
        position: relative;
    }

    .OfficialList-addItem {
        @include ghost-placeholder();
        margin-left: 1em;

        p {
            margin: 50% 0;
        }
    }

    &.OfficialList-isPersonOver {
        .OfficialList-addItem {
            border-color: $c-ui-darker;

            p {
                opacity: 0;
            }
        }

        .OfficialList {
            opacity: 0.5;
        }
    }
}
