.Dashboard-header {
    text-align: center;
    margin: 3em 0 0;

    h1 {
        font-size: 3em;
        margin: 0;
        color: $c-ui-darker;

        @include small-screen {
            font-size: 2.5em;
        }

        @include mini-screen {
            font-size: 2em;
        }
    }

    h2 {
        font-size: 2em;
        margin: 0.5em 0 0;
        color: $c-ui-darker;

        @include small-screen {
            font-size: 1.7em;
        }

        @include mini-screen {
            font-size: 1.5em;
        }
    }

    a {
        display: block;
        margin: 1em 0 0;
        font-size: 1em;
        color: $c-ui-darker;
        text-decoration: underline;

        @include medium-screen {
           display: none;
        }
    }
}

.Dashboard-favorites {
    @include list-unstyled;
    padding: 0.417em;
    font-size: 1.2em;
}

.Dashboard-shortcuts {
    @include list-unstyled;
    background-color: darken($c-ui-bg, 10);
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    margin: 0 0.833em;
    font-size: 1.2em;

    @include small-screen {
        display: none;
    }

    li {
        display: inline-block;
        color: $c-ui-darker;
        margin-left: 0.833em;
        line-height: 2.667em;

        .Shortcut {
            display: inline-block;
        }

        &:hover {
            color: $c-ui-dark;
        }
    }

    .Shortcut-settings {
        &::before {
            @include icon($fa-var-cog);
            display: inline;
        }
    }
}

.Dashboard-widgets {
    @include list-unstyled;
    margin: 0.833em;
}

.Dashboard-widgets .DraggableWidget-widgetcontainer {
    padding: 0.5em 0;
    border-top: 1px dashed transparent;

    &.dragover {
        border-top: 1px dashed #666;
    }
}

.Dashboard {
    position: fixed;
    top: 6.8em;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 2em;
    overflow-y: scroll;
}

.Dashboard-favorites,
.Dashboard-shortcuts {
    font-size: 1.6em;
    max-width: 60em;
}

.Dashboard-favorites {
    margin: 3em auto 1em;

    @include small-screen {
        margin-left: -15%;
        margin-top: 1.5em;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }

    & > li {
        float: left;
        width: 32%;
        margin: 0 0 1em 2%;

        @include small-screen {
            width: 100%;
        }

        &:nth-child(1), &:nth-child(4), &:nth-child(7) {
            margin-left: 0;
            clear: both;
        }

    }
}

.Dashboard-shortcuts {
    margin: 0 auto;

    li {
        margin-left: 1em;
    }
}

.Dashboard-widgets {
    margin: 0.833em 3.2em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.Dashboard-widgets .DraggableWidget-widgetcontainer {
    display: inline-block;
    width: 100%;
}
