.Shortcut {
    width: 98%;
    text-align: center;

    @include small-screen {
        width: 100%;
    }

    a {
        cursor: pointer;

        span {

            @include medium-screen {
                display: block;
                margin-top: 1.6em;
            }

            @include small-screen {
                margin-top: 1.2em;
            }
        }
    }

    &.expanded {
        margin: 20px 1%;
        display: block;

        @include small-screen {
            margin: 1em 0;
        }

        & > a {
            display: block;
            position: relative;

            @include small-screen {
                display: inline-block;
                width: 60%;
            }

            &:after {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 64px;
                content: "";
                display: block;
                background-color: darken($c-ui-bg, 5);
                border-radius: 100em;
                width: 160px;
                height: 160px;
                z-index: -1;
                transition: width 0.2s, height 0.2s;


                @include medium-screen {
                    height: 100px;
                    top: 40px;
                    width: 100px;
                }

                @include mini-screen {
                    height: 80px;
                    top: 30px;
                    width: 80px;
                }
            }

            &:hover {
                font-weight: bold;

                &:after {
                    width: 150px;
                    height: 150px;

                    @include medium-screen {
                        height: 90px;
                        width: 90px;
                    }

                    @include mini-screen {
                        height: 70px;
                        width: 70px;
                    }
                }

                img {
                    transform: scale(1.1, 1.1);
                }
            }
        }

        img {
            display: block;
            max-height: 120px;
            width: auto;
            margin: 0 auto 2em;
            transition: transform 0.1s;

            @include medium-screen {
                max-height: 80px;
                margin: 0 auto;
            }

            @include mini-screen {
                max-height: 60px;
            }
        }

        .Shortcut-subSections {
            margin: 0.5em 0 0;

            @include medium-screen  {
                margin: 1.5em 0 0;
            }

            @include small-screen  {
                display: inline-block;
                margin: 0;
                width: 40%;
                vertical-align: top;
            }

            a {
                color: $c-brand-comp-dark;
                text-decoration: underline;
                font-size: 0.8em;

                &:hover {
                    color: $c-brand-comp-light;
                    font-weight: normal;
                }

                @include medium-screen {
                    display: block;
                    font-size: 0.95em;
                    margin-bottom: 15px;
                }

                @include small-screen {
                    margin-bottom: 15px;
                    text-align: left;
                }

                @include mini-screen {
                    font-size: 0.85em;
                }
            }

            .Shortcut-import {
                @include small-screen {
                    display: none;
                }
            }

            .Shortcut-distribution {
                @include small-screen {
                    display: none;
                }
            }

            .Shortcut-playback {
                @include small-screen {
                    display: none;
                }
            }

            .Shortcut-routes {
                @include small-screen {
                    display: none;
                }
            }
        }
    }

    &.Shortcut-maps {
        @include small-screen  {
            display: none;
        }
    }

    &.Shortcut-survey {
        @include small-screen  {
            display: none;
        }
    }
}
