.LocationList {
    max-width: 640px;

    .ListHeader {
        position: relative;
        height: 15px;

        li {
            &:first-child {
                left: 140px;
            }
        }
    }
}
