.appheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0.8em;
    background-color: $c-brand-main;

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        color: #fff;
        a{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.8em;
            color: transparent;
            line-height: 1.35;
        }
        a::after{
            content: "Z";
            position: absolute;
            color: #fff;
            top: 0;
            left: 0;
            padding: 0 0.362em;;
            display: block;
        }
    }

    .search-form {
        margin: 0;
        padding: 0 5em;
        width: 100%;

        input {
            display: block;
            height: 32px;
            padding: 4px;
            border-width: 0;
            width: 100%;
        }
    }

    .usermenu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.6em;

        .usermenu-avatar {
            position: absolute;
            top: 0;
            right: 0;
            width: 3em;
            height: 3em;
            // Avatar placeholder
            &::after {
                content: "";
                display: block;
                height: 80%;
                width: 80%;
                margin: 10%;
                background-color: #EEE;
                border-radius: 50%;
            }
        }
        &:hover {
            .usermenu-info{
                display: block;
            }
        }
        .usermenu-info{
            display: none;
            margin-top: 3em;
            padding: 0.5em;
            background-color: white;

            .usermenu-user{
                text-align: right;
                span{
                    display: block;
                }
                .usermenu-info-name{
                    font-weight: bold;
                }
                .usermenu-info-org{
                    font-size: 0.8em;
                }
            }
            ul {
                margin-top: 0;
                text-align: right;
            }


            li {
                list-style-type: none;
                margin: 0.5em;

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                }
            }

            .orgpicker {
                .orgpicker-label {
                    margin: 1em 0 0.25em;
                    font-size: 0.8em;
                    color: #888;
                }
                ul.orgpicker-list {
                    @include list-unstyled;

                    .orgpicker-item {
                        font-weight: bold;
                        cursor: pointer;
                        margin: 0.5em 0;
                    }
                }
            }
        }
    }
}
