.appheader {
    padding: 10px;
    height: 60px;

    .logo {
        display: none;
    }

    .search-form {
        margin: 0;

        input {
            float: left;
            display: block;
            height: 30px;
            padding: 4px;
            border-width: 0;
            width: 80%;
        }
    }

    .usermenu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;

        .usermenu-info {
            position: absolute;
            top: 0;
            right: 0;

            width: 50px;
            height: 50px;
            background-color: red;
        }

        .usermenu-info-name {
            display: none;
        }

        .usermenu-info-org {
            display: none;
        }

        ul {
            width: 200px;
            display: none;
            background-color: white;
            margin-top: 50px;
            padding: 10px;
        }

        &:hover {
            ul {
                display: block;
            }
        }

        li {
            list-style-type: none;
            margin: 5px;

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        }

        li.usermenu-orglabel {
            color: #888;
            font-size: 80%;
            text-align: center;
        }

        li.usermenu-orgitem {
            margin-left: 10px;
            cursor: pointer;

            .usermenu-orgitem-title {
                display: block;
                font-weight: bold;
            }

            .usermenu-orgitem-role {
                display: block;
                font-size: 80%;
            }
        }
    }
}
