.appheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4.8em;
    z-index: 1000;
    padding: 0.8em;
    background-color: $c-brand-main;

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        color: #fff;
        a{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.8em;
            color: transparent;
            line-height: 1.35;
        }
        a::before{
            content: "Z";
            position: absolute;
            color: #fff;
            top: 0;
            left: 0;
            padding: 0 0.362em;;
            display: block;
        }

        a::after {
            content: "BETA";
            display: block;
            position: absolute;
            left: 10px;
            top: 17px;

            padding: 1px 3px;
            border-radius: 4px;

            background-color: black;
            font-weight: normal;
            font-size: 8px;
            color: white;
        }
    }

    .search-form {
        position: relative;
        margin: 0 auto 0 auto;
        width: 65%;

        &::before {
            content: "";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.0;
            z-index: 1000;

            visibility: hidden;
            transition: opacity 0.4s;
        }

        &.focused {
            &::before {
                visibility: visible;
                opacity: 0.4;
            }
        }

        input {
            position: relative;
            z-index: 3000;
            display: block;
            height: 2em;
            padding: 0.4em 0.4em 0.4em 2.5em;
            border-width: 0;
            font-size: 1.5em;
            width: 100%;

            &:focus {
                text-align: left;
            }
        }

        .search-form-scopeselect {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0.5em;
            left: 0.5em;
            z-index: 4000;

            li {
                padding: 0;
                list-style-type: none;
            }

            .search-form-scopeselect-value {
                width: 3em;
                height: 2em;
                background-color: #ddd;
                margin-bottom: 0.5em;

                // Value icon
                &::before {
                    content: "";
                    display: block;
                    margin: 0.1em;
                    width: 1.6em;
                    height: 1.6em;
                }
            }

            .search-form-scopeselect-item {
                position: relative;
                background-color: white;
                display: none;
                font-size: 1.2em;
                padding: 0.3em 0.3em 0.3em 3em;

                // Item icon
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    display: block;
                    margin: 0.1em;
                    width: 1.6em;
                    height: 1.6em;
                }
            }

            .search-form-scopeselect-all {
                &::before {
                    background-color: black;
                }
            }

            .search-form-scopeselect-people {
                &::before {
                    background-color: red;
                }
            }

            .search-form-scopeselect-campaign {
                &::before {
                    background-color: blue;
                }
            }

            .search-form-scopeselect-maps {
                &::before {
                    background-color: green;
                }
            }

            &.open {
                .search-form-scopeselect-item {
                    display: block;
                }
            }
        }

        .search-form-results {
            display: block;
            position: absolute;
            z-index: 3000;
            top: 30px;
            left: 0;
            right: 0;
            background-color: white;

            li {
                position: relative;
                list-style-type: none;
                height: 4em;
                padding: 0.5em;
                cursor: pointer;

                &.focused, &:hover {
                    background-color: #eee;
                }

                .title {
                    position: absolute;
                    top: 10px;
                    left: 50px;
                    right: 20px;
                    font-weight: bold;
                    font-size: 1.5em;
                }

                img {
                    max-height: 3em;
                    width: auto;
                }
            }
        }
    }

    .usermenu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.6em;

        .usermenu-avatar {
            position: absolute;
            top: 0;
            right: 0;
            width: 3em;
            height: 3em;
            // Avatar placeholder
            &::after {
                content: "";
                display: block;
                height: 80%;
                width: 80%;
                margin: 10%;
                background-color: #EEE;
                border-radius: 50%;
            }
        }
        &:hover {
            .usermenu-info{
                display: block;
            }
        }
        .usermenu-info{
            display: none;
            margin-top: 3em;
            padding: 0.5em;
            background-color: white;

            .usermenu-user{
                text-align: right;
                span{
                    display: block;
                }
                .usermenu-info-name{
                    font-weight: bold;
                }
                .usermenu-info-org{
                    font-size: 0.8em;
                }
            }
            ul {
                margin-top: 0;
                text-align: right;
            }


            li {
                list-style-type: none;
                margin: 0.5em;

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                }
            }

            .orgpicker {
                .orgpicker-label {
                    margin: 1em 0 0.25em;
                    font-size: 0.8em;
                    color: #888;
                }
                ul.orgpicker-list {
                    @include list-unstyled;

                    .orgpicker-item {
                        font-weight: bold;
                        cursor: pointer;
                        margin: 0.5em 0;
                    }
                }
            }
        }
    }
}
