.appheader {
    .logo {
        left: 0.4em;

        a{
            color: inherit;
        }
        a::after{
            content: "";
            display: none;
        }
    }

    .search-form {
        max-width: 500px;
    }
}
