.appheader {
    .logo {
        left: 0.4em;

        a{
            color: inherit;
        }
        a::after{
            content: "";
            display: none;
        }
    }

    .search-form {
        input {
            float: none;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
