.ActionList{
    ul{
        margin: 0;
        padding: 0;
    }
}
.ActionList-columns {
    position: relative;
    height: 15px;

    li {
        color: #888;
        font-size: 10px;
        position: absolute;
        list-style-type: none;
    }

    li:nth-child(1) {
        left: 10px;
    }

    li:nth-child(2) {
        left: 120px;
    }

    li:nth-child(3) {
        display: none;
    }

    li:nth-child(4) {
        display: none;
    }
}
.ActionList-items {
    margin: 0;
    padding: 0;
}

@include medium-screen {

    .ActionList {
        width: 60%;
        min-width: 640px;
    }

    .ActionList-columns {
        li:nth-child(3) {
            display: block;
            width: 8em;
            right: 24em;
        }

        li:nth-child(4) {
            display: block;
            width: 10em;
            right: 12em;
        }
    }

}
