.section-pane-actions {
    background-color: #fafafa;

    .campaignselect {
        width: 300px;
    }
}

.section-pane-addactivity {
    min-width: 400px;
}

.section-pane-addperson {
    min-width: 400px;
}

.section-pane-editaction {
    min-width: 400px;
}

.section-pane-editactivity {
    min-width: 400px;
}

.section-pane-location {
    min-width: 400px;
}

.section-pane-locations {
    .section-pane-toolbar {
        position: relative;
        z-index: 2000;
    }
}

.section-pane-editcampaign {
    min-width: 400px;
}

.section-pane-addcampaign {
    min-width: 400px;
}
