.section-pane {
    background-color: #f8f8f8;
    min-width: 400px;
    z-index: 1000;

    header {
        h2 {
            margin: 30px 0 30px;
        }

        small {
            display: block;
            margin: -15px 0 30px;

            a {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    h3 {
        font-size: 1.5em;
    }

    .section-pane-content::after {
        content: "";
        display: block;
        clear: both;
    }
}

.section-pane-actions {
    background-color: #fafafa;
}

.section-pane-person {
    min-width: 400px;

    .avatar {
        width: 12em;
        height: auto;
        margin: 1em 0 2em;
    }
}

.section-pane-addactivity {
    min-width: 400px;
}

.section-pane-addperson {
    min-width: 400px;
}

.section-pane-distribution {
    .section-pane-content {
        h3 {
            font-size: 1.5em;
            color: #888;
            margin: 0 0 0.5em;
        }
    }

    .locations {
        float: left;
        width: 74%;

        .actiondistroitem {
            width: 32%;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .activities {
        float: right;
        width: 25%;
        min-height: 50%;
        padding: 0 1% 10em;
        border-left: 1px solid #ddd;

        .actiondistroitem {
            width: 100%;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }
}

.section-pane-editaction {
    min-width: 400px;
}

.section-pane-editactivity {
    min-width: 400px;
}

.section-pane-location {
    min-width: 400px;
}

.section-pane-locations {
}

.section-pane-moveparticipants {
    min-width: 400px;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        @include card;

        list-style-type: none;
        padding: 1em;
        margin: 1em 0;
        font-size: 1.1em;

        input[type=button] {
            width: 48%;
            float: left;
            margin: 1em 1% 0.5em;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }

        .person {
            display: block;
            font-weight: bold;
            cursor: pointer;
        }

        .action {
            width: 45%;
            display: block;
            float: left;

            padding: 0.5em;
            padding: 0.5em;

            .date, .activity, .location {
                display: block;
            }
        }

        .action + .action {
            position: relative;
            float: right;
            &::before {
                content: "\25B6";
                position: absolute;
                left: -14%;
                top: 1.5em;
            }
        }
    }
}

.section-pane-playback {
    header {
        position: relative;
        z-index: 2;
    }

    .campaignselect {
        position: relative;
        z-index: 2;
    }

    .campaignplayer {
        .heatmap {
            position: absolute;
            z-index: 1;
            top: 130px;
            left: 0;
            right: 0;
            bottom: 0;
            height: auto;
        }

        .transport {
            position: absolute;
            z-index: 2;
            bottom: 20px;
            left: 40px;
            right: 40px;
            width: auto;
        }
    }
}

.section-pane-reminder {
    header small {
        span {
            margin-right: 0.5em;
        }
    }

    .actionreminderpane-newparticipants {
        li {
            float: left;
            margin: 0.2em;
        }

        .avatar {
            width: 3em;
            height: auto;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    form {
        margin: 2em 0 3em;
    }

    .actionreminderpane-reminded {
        li {
            @include card;
            position: relative;
            margin: 1em 0;
            padding: 0.5em;
            height: 6em;

            .avatar {
                width: 5em;
                height: auto;
            }

            .person {
                position: absolute;
                top: 10px;
                left: 60px;

                cursor: pointer;
                font-size: 1.1em;
                font-weight: bold;
            }

            .timestamp {
                position: absolute;
                top: 25px;
                left: 60px;
            }
        }
    }
}

.section-pane-editcampaign {
    min-width: 400px;
}

.section-pane-addcampaign {
    min-width: 400px;
}
