.ActionListItem {
    position: relative;

    &.expanded {
        .ActionListItem-operations {
            opacity: 1;
            visibility: visible;
            li:nth-child(n+3){
                display: none;
            }
        }
    }

    input.action-checkbox {
        position: absolute;
        left: -18px;
        top: 5px;
    }

    .ActionListItem-info {
        @include col(6,12);
    }

    .activity {
        margin: 0.5em 0;
        font-size: 1.3em!important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .location {
        display: block;
        font-size: 1.1em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:before {
            @include icon($fa-var-map-marker);
            width: 0.8em;
            text-align: left;
        }
    }

    .ActionListItem-contactSlot {
        @include col(1.5,12);
        margin: 0.25em 0;
    }

    .ActionListItem-participantList {
        @include col(4.5,12);
        padding-right: 0;
        margin-bottom: 1em;
        transition: padding-bottom 0.2s ease-out;
        border: 1px dashed white;

        .ParticipantList {
            max-height: 3.5em;
            min-height: 3em;
            overflow: hidden;
            transition: max-height .2s ease-out;
            .ParticipantItem {
                &:nth-child(n+4){
                    visibility: hidden;
                }
            }

        }
    }

    &.expanded, &.dragOver {
        .ActionListItem-participantList {
            padding-bottom: 2em;
            border: 1px dashed #CCC;
            background: darken(white, 3);
            .ParticipantList {
                max-height: 10em;
                transition: max-height .2s ease-out;
                .ParticipantItem {
                    visibility: visible;
                }
            }
        }
    }

    .ActionListItem-actionStatuses {
        @include col(6,12);
    }

    .ActionListItem-participantStatuses {
        @include col(6,12);
        position: relative;
        text-align: right;

        > div {
            display: inline-block;
        }

        .bookedParticipants {
            position: absolute;
            left: 0.5em;
            top: -0.8em;
            padding: 0.2em 0.5em;
            border-radius: 0.5em;
            color: white;

            &.safe {
                background-color: $c-brand-success;
            }

            &.low {
                background-color: $c-ui-focus;
            }

            &.danger {
                background-color: $c-brand-delete;
            }

            &:before {
                @include icon($fa-var-user);
            }
        }

        .incomingResponses {
            &:before {
                @include icon($fa-var-arrow-down);
                color: $c-brand-delete;
            }
        }

        .reminders {
            &.sent {
                &:before {
                    @include icon($fa-var-check);
                    color: $c-brand-success;
                }
            }

            &.missed {
                &:before {
                    @include icon($fa-var-times);
                    color: $c-brand-delete;
                }
            }

            &.left {
                &:before {
                    @include icon($fa-var-ellipsis-h);
                    color: $c-brand-delete;
                }
            }
        }

        .incomingResponses, .reminders {
            margin-left: 1em;

            > * {
                color: lighten($c-text, 30);
            }

            &:before {
                position: absolute;
                font-size: 0.8em!important;
                margin-top: -1.5em!important;
                padding-right: .4em;
            }
        }
    }

    .info:before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        background: transparent url('info.png') no-repeat;
    }

    .info {
        position: relative;
        width: 0;
        height: 17px;
        display: block;
        float: right;
        padding: 4px 3px 4px 24px;
        text-indent: -1000px;
        overflow: hidden;
        margin: 0 0 0 3px;
        max-height: 17px;
        z-index: 1000;
        background-color: rgba(0,0,0,0.0);
        color: #888;

        font-size: 10px;
        font-weight: normal;

        transition: width 0.1s, max-height 0.2s 0.1s, background-color 0.1s;
    }

    .info:hover {
        width: 200px;
        height: auto;
        max-height: 100px;
        text-indent: 0;
        background-color: rgba(221, 221, 221, 1.0);
    }
}
@include medium-screen {
    .ActionListItem {
        li.participant {
            cursor: move;

            &.hidden {
                display: none;
            }
        }

    }
}
