.ActionListItem {
    position: relative;
    transition: height 0.1s;

    &.expanded {
        .ActionListItem-operations {
            opacity: 1;
            visibility: visible;
            li:nth-child(n+3){
                display: none;
            }
        }
    }

    input.action-checkbox {
        position: absolute;
        left: -18px;
        top: 5px;
    }

    .ActionListItem-date {
        position: absolute;
        left: -10em;
        width: 8em;
        height: 100%;
        padding-right: 1em;
        border-right: 1px solid #000;

        .date, .time {
            display: block;
        }
    }

    &.past {
        .ActionListItem-date {
            color: lighten($c-text, 80);
            border-right-color: lighten($c-text, 80);
        }
    }

    .ActionListItem-info {
        @include col(6,12);
    }

    .activity {
        margin: 0.5em 0;
        font-size: 1.3em!important;
    }

    .location {
        font-size: 1.2em;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:before {
            @include icon($fa-var-map-marker);
        }
    }

    .ActionListItem-contactSlot {
        @include col(1.5,12);
        margin: 0.25em 0;
    }

    .ActionListItem-participantList {
        @include col(4.5,12);
        padding-right: 0;
    }

    .ActionListItem-actionStatuses {
        @include col(6,12);
    }

    .ActionListItem-participantStatuses {
        @include col(6,12);
        text-align: right;

        .incomingResponses {
            &:before {
                @include icon($fa-var-arrow-down);
                color: $c-brand-delete;
            }
        }

        .reminders {
            &.sent {
                &:before {
                    @include icon($fa-var-check);
                    color: $c-brand-success;
                }
            }

            &.missed {
                &:before {
                    @include icon($fa-var-times);
                    color: $c-brand-delete;
                }
            }

            &.left {
                &:before {
                    @include icon($fa-var-ellipsis-h);
                    color: $c-brand-delete;
                }
            }
        }

        > div {
            display: inline-block;
            margin-left: 1em;

            > * {
                color: lighten($c-text, 30);
            }

            &:before {
                position: absolute;
                font-size: 0.8em!important;
                margin-top: -1.5em!important;
                padding-right: .4em;
            }
        }
    }

    .info:before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        background: transparent url('info.png') no-repeat;
    }

    .info {
        position: relative;
        width: 0;
        height: 17px;
        display: block;
        float: right;
        padding: 4px 3px 4px 24px;
        text-indent: -1000px;
        overflow: hidden;
        margin: 0 0 0 3px;
        max-height: 17px;
        z-index: 1000;
        background-color: rgba(0,0,0,0.0);
        color: #888;

        font-size: 10px;
        font-weight: normal;

        transition: width 0.1s, max-height 0.2s 0.1s, background-color 0.1s;
    }

    .info:hover {
        width: 200px;
        height: auto;
        max-height: 100px;
        text-indent: 0;
        background-color: rgba(221, 221, 221, 1.0);
    }
}
@include medium-screen {
    .ActionListItem {
        li.participant {
            cursor: move;

            &.hidden {
                display: none;
            }
        }

    }
}
