.ActionListItem {
    position: relative;
    min-height: 6em;

    &.expanded {
        .ActionListItem-operations {
            opacity: 1;
            visibility: visible;
            li:nth-child(n+3){
                display: none;
            }
        }
    }

    input.action-checkbox {
        position: absolute;
        left: -18px;
        top: 5px;
    }

    .ActionListItem-date {
        @include col(2, 12);
        margin-top: 0.8em;

        @include small-screen {
            @include col(3, 12);
            font-size: 0.9em;
        }

        .date, .time {
            display: block;
        }
    }

    &.past {
        .ActionListItem-date {
            opacity: 0.4;
        }
    }

    .ActionListItem-info {
        @include col(4.9,12);

        @include small-screen {
            @include col(9,12);
        }
    }

    .activity {
        margin: 0.5em 0;
        font-size: 1.3em!important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        @include small-screen {
            font-size: 1.1em!important;
            margin-bottom: 5px;
        }
    }

    .location {
        display: block;
        font-size: 1.1em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        @include small-screen {
            font-size: 0.95em;
        }

        &:before {
            @include icon($fa-var-map-marker);
            width: 0.8em;
            text-align: left;
        }
    }

    .ActionListItem-contactSlot {
        @include col(1.3,12);
        margin: 0.25em 0;

        @include small-screen {
            display: none;
        }
    }

    .ActionListItem-participantList {
        @include col(3.8,12);
        position: relative;
        padding-right: 0;
        margin-bottom: 1em;
        transition: padding-bottom 0.2s ease-out;
        border: 1px dashed white;

        @include small-screen {
            display: none;
        }

        .ParticipantList {
            max-height: 3.5em;
            min-height: 3em;
            overflow: hidden;
            transition: max-height .2s ease-out;
            .ParticipantItem {
                &:nth-child(4){
                    visibility: hidden;
                }

                &:nth-child(4):last-child {
                    visibility: visible;
                }
            }
        }
    }

    &.expanded, &.dragOver {
        .ActionListItem-participantList {
            padding-bottom: 2em;
            border: 1px dashed #CCC;
            background: darken(white, 3);
            .ParticipantList {
                max-height: 10em;
                transition: max-height .2s ease-out;
                .ParticipantItem {
                    visibility: visible;
                }
            }
        }
    }

    .bookedParticipants {
        @include col-offset(2,12);
        border-radius: 0.5em;
        color: white;
        display: inline-block;
        margin-top: 0.8em;
        padding: 0.2em 0.5em;

        @include small-screen {
            @include col-offset(3,12);
            font-size: 0.85em;
        }

        &.safe {
            background-color: $c-brand-success;
        }

        &.low {
            background-color: $c-ui-focus;
        }

        &.danger {
            background-color: $c-brand-delete;
        }

        &:before {
            @include icon($fa-var-user);
        }
    }

    .ActionListItem-notifier {
        bottom: 20px;
        position: absolute;
        right: 20px;

        @include small-screen {
            bottom: 0;
            top: 35px;
            right: 1.5em;
            margin-bottom: 1.5em;
        }
    }

    .incomingResponses {
        &:before {
            @include icon($fa-var-arrow-down);
            color: $c-brand-delete;
        }
    }

    .reminders {
        &.sent {
            &:before {
                @include icon($fa-var-check);
                color: $c-brand-success;
            }
        }

        &.missed {
            &:before {
                @include icon($fa-var-times);
                color: $c-brand-delete;
            }
        }

        &.left {
            &:before {
                @include icon($fa-var-ellipsis-h);
                color: $c-brand-delete;
            }
        }
    }

    .incomingResponses, .reminders {
        display: inline-block;
        margin-left: 1em;

        @include small-screen {
            display: block;
            margin: 0 0 1.5em;
        }

        > * {
            color: lighten($c-text, 30);
        }

        &:before {
            position: absolute;
            font-size: 0.8em!important;
            margin-top: -1.5em!important;
            padding-right: .4em;
        }
    }
}

@include medium-screen {
    .ActionListItem {
        li.participant {
            cursor: move;

            &.hidden {
                display: none;
            }
        }

    }
}
