.CallAssignmentListItem {
    position: relative;

    .CallAssignmentListItem-info {
        @include col(6,12);

        .CallAssignmentListItem-infoTitle {
            margin: 0.5em 0;
            font-size: 1.3em;
        }

        .CallAssignmentListItem-infoCallers {

        }
    }



    .CallAssignmentListItem-stats {
        @include col(6,12);
    }

    .CallAssignmentListItem-targetStats {
        h1 {
            &::before {
                @include icon($fa-var-users);
            }
        }
    }

    .CallAssignmentListitem-goalStats {
        h1 {
            &::before {
                @include icon($fa-var-flag-checkered);
            }
        }
    }
}
