.CallAssignmentListItem {
    position: relative;

    .CallAssignmentListItem-info {
        @include col(6,12);

        .CallAssignmentListItem-infoTitle {
            margin: 0.5em 0;
            font-size: 1.3em;
        }

        .CallAssignmentListItem-infoCallers {
            position: absolute;
            bottom: 0;
            font-size: 1.1em;

            i {
                font-size: 1.2em;
                &:after {
                    @include icon($fa-var-phone);
                    font-size: 0.7em;
                }
            }



        }
    }



    .CallAssignmentListItem-stats {
        @include col(6,12);
    }

    .CallAssignmentListItem-targetStats {
        h1 {
            &::before {
                @include icon($fa-var-users);
            }
        }
    }

    .CallAssignmentListitem-goalStats {
        h1 {
            &::before {
                @include icon($fa-var-flag-checkered);
            }
        }
    }
}
