.CallListItem {
    position: relative;

    .CallListItem-target {
        @include col(12,12);
    }

    .Avatar {
        @include col(1.5,12, $align:middle);
        &:first-child {
            @include col(1.5,12, $align:middle, $first:true);
        }
    }

    .CallListItem-targetName {
        @include col(10.5,12, $align:middle);
        font-size: 1.5em;
    }

    .CallListItem-callInfo {
        @include col(12,12, $align: middle);
        margin: 0.5em 0 0.25em; 
        color: lighten($c-text, 20);

        .CallListItem-callStatus {
            @include col(3,12, $align:middle, $first:true);

            &.CallListItem-stateAllocated {
                &:before {
                    @include icon($fa-var-hourglass-half);
                    color: darken(white, 10);
                }
            }

            &.CallListItem-stateSuccess {
                &:before {
                    @include icon($fa-var-check);
                    color: $c-brand-success;
                }
            }

            &.CallListItem-stateFailed {
                &:before {
                    @include icon($fa-var-times);
                    color: $c-brand-delete;
                }
            }
        }

        .CallListItem-caller {
            @include col(9,12, $align:middle);

            &:before {
                @include icon($fa-var-phone);
            }
        }
    }

    .CallListItem-action {
        @include col(1,12, $first:true, $last:true);
        background-color: darken(white, 5);
        color: white;
        text-align: center;

        &.taken {
            color: $c-ui-darker;
            &::before {
                @include icon($fa-var-check);
            }
            &::after {
                @include icon($fa-var-bell-o);
            }
        }

        &.needed {
            background-color: $c-ui-warning;
            &::before {
                @include icon($fa-var-exclamation-circle);
            }
            &::after {
                @include icon($fa-var-bell-o);
            }
        }
        &::before {
            margin-top: 2em;
            margin-right:0!important;
        }
        &::after {
            margin-right:0!important;
        }
    }
}

