.CallListItem {
    .Avatar {
        @include col(1.5,12, $align:middle);
        &:first-child {
            @include col(1,12, $align:middle, $first:true);
        }
    }

    @mixin callStatusIcon {
        font-size: 0.5em;
        position: absolute;
        right: 0.8em;
        top: 0.5em;
    }

    .CallListItem-callIcon {
        @include col(1.5,12, $align:middle, $first:true);
        font-size: 2.5em;
        position: relative;
        &:before {
            @include icon($fa-var-phone);
            margin-right: 0;
        }

        &.CallListItem-stateAllocated {
            color: $c-ui-darker;
            &:after {
                @include icon($fa-var-hourglass-half);
                @include callStatusIcon;
            }
        }
        &.CallListItem-stateSuccess:after {
            @include icon($fa-var-arrow-right);
            @include callStatusIcon;
        }
        &.CallListItem-stateFailed:after {
            @include icon($fa-var-remove);
            color: $c-brand-delete;
            @include callStatusIcon;
        }
        &.CallListItem-stateLater:after {
            @include icon($fa-var-undo);
            color: $c-ui-darker;
            @include callStatusIcon;
        }
        &.CallListItem-stateWarning:after {
            @include icon($fa-var-exclamation-triangle);
            color: $c-brand-delete;
            @include callStatusIcon;
        }


    }

    .CallListItem-target {
        @include col(4,12, $align:middle);
        font-size: 1.5em;
    }

    .CallListItem-callInfo {
        @include col(5,12, $align: middle);
        font-size: 1.3em;

        .Avatar {
            @include col(2,12, $align:middle);
        }

        .CallListItem-caller {
            @include col(10,12, $align:middle);
        }

        .CallListItem-time {
            @include col(12,12, $align:middle);
            font-size: 0.9em;
            margin-top: 0.5em;
            &:before {
                @include icon($fa-var-clock-o);
                @include col(2, 12, $first:true);
                padding-right: 1em;
            }
        }
    }
}

