.GroupListItem-col {
    @include col(10, 12);

    &:last-child {
        @include col(2, 12, $last:true);
    }
}

.GroupListItem-title {
    font-size: 1.2em;

    @include small-screen {
        font-size: 1em;
    }
}

.GroupListItem-size {
    color: lighten($c-text, 40);

    &:before {
        @include icon($fa-var-users);
    }
}
