.ListItem {
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    @include card;

    &.ListItem-withCheckbox {
        position: relative;
        display: flex;
        padding: 0;

        .ListItem-selection {
            @include col(1,12, $first:true, $last:true);
            background-color: darken(white, 5);
            color: white;
            text-align: center;

            .ListItem-checkbox {
                margin-top: 3em;
                cursor: pointer;
            }

        }

        & >:nth-child(2) {
            @include col(11,12);
            padding: 1em;
        }
    }

    &:hover {
        background-color: darken(white, 2);
        cursor: pointer;
    }

    .ListItem-date {
        position: absolute;
        left: -10em;
        width: 8em;
        height: 100%;
        padding-right: 1em;
        border-right: 1px solid #000;

        .date, .time {
            display: block;
        }
    }

    .past {
        .ListItem-date {
            color: lighten($c-text, 80);
            border-right-color: lighten($c-text, 80);
        }
    }
}
