.PersonQueryListItem {
    .PersonQueryListItem-title {
        display: block;
        font-size: 1.1em;

        @include small-screen {
            font-size: 1em;
        }
    }

    .PersonQueryListItem-description {
        display: block;
        font-size: 0.9em;
        height: 1.5em;
        margin: 0.3em 0 0;
        max-width: 30em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include small-screen {
            font-size: 0.8em;
        }
    }
}
