.PersonListItem {
    position: relative;

    &::after {
        content: "";
        display: block;
        clear: both;
    }

    span {
        font-size: 1.4em;
        line-height: 1.7em;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .DraggableAvatar {
        @include col(2, 12, $first:true);
    }

    .PersonListItem-col {
        @include col(4, 12);
        &:last-child {
            @include col(6, 12, $last:true);
        }
    }

    .PersonListItem-firstName {

    }

    .PersonListItem-lastName {

    }

    .PersonListItem-email, .PersonListItem-phone {
        font-size: 1.0em;

        a {
            &:hover {
                color: #666;
            }
        }
    }
}
