.dashboard-favorites {
    @include list-unstyled ;
    display: flex;
    padding: 0.417em;
    font-size: 1.2em;

    li{
        @include card;
        flex: 1;
        margin: 0 0.417em;
        line-height: 8em;
        text-align: center;
        font-weight: 700;

        a{
            display: inline-block;
            width: 100%;
        }
    }
}
.dashboard-shortcuts {
    @include list-unstyled;
    background-color: #333;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    margin: 0 0.833em;
    font-size: 1.2em;

    li{
        display: inline-block;
        color: #fff;
        font-weight: 700;
        margin-left: 0.833em;
        line-height: 2.667em;

        a{
            display: inline-block;
        }
    }
}
.dashboard-widgets{
    @include list-unstyled;
    margin: 0.833em;

    .dashboard-widget{
        @include card;
        padding: 1em;
    }

    .dashboard-widgetcontainer {
        padding: 0.5em 0;

        &.dragover {
            border-top: 1px dashed #666;
        }
    }
}

.dashboard-widget-today {
    .weather {
        width: 220px;
        margin: 0 auto 2em auto;

        img {
            float: left;
            height: 8em;
            width: auto;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }

        .temperature {
            display: block;
            float: left;
            font-size: 5em;
            margin-left: 10px;
            width: 110px;
        }

        .city {
            display: block;
            float: left;
            margin-left: 14px;
            font-weight: bold;
        }
    }

    .stats {
        width: 220px;
        margin: 1em auto;
        font-size: 1.4em;

        .label {
            float: left;
            clear: left;
        }

        .value {
            font-weight: bold;
            float: right;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }
}

.dashboard footer {
    width: 90%;
    max-width: 60em;
    margin: 3em auto;
    text-align: center;

    color: #888;

    &::before {
        content: "";
        display: block;
        width: 70%;
        height: 1px;
        margin: 0 auto 1em;
        background-color: #aaa;
    }

    ul {
        margin: 0.5em 0;

        li {
            display: inline-block;
            margin: 0 1em;

            a {
                text-decoration: underline;

                &:hover {
                    color: #333;
                }
            }
        }
    }
}
