.dashboard-favorites {
    @include list-unstyled;
    padding: 0.417em;
    font-size: 1.2em;
    margin: 2em;

    .shortcut {
        width: 98%;
        margin: 20px 1%;
        text-align: center;

        a {
            display: block;

            &:hover {
                font-weight: bold;
            }

            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 120px;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                margin-bottom: 20px;
            }
        }

        &.shortcut-people a::before {
            background-image: url('../img/sections/people.png');
        }

        &.shortcut-campaign a::before {
            background-image: url('../img/sections/campaign.png');
        }

        &.shortcut-dialog a::before {
            background-image: url('../img/sections/dialog.png');
        }

        &.shortcut-maps a::before {
            background-image: url('../img/sections/maps.png');
        }
    }
}
.dashboard-shortcuts {
    @include list-unstyled;
    background-color: #333;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    margin: 0 0.833em;
    font-size: 1.2em;

    li{
        display: inline-block;
        color: #fff;
        font-weight: 700;
        margin-left: 0.833em;
        line-height: 2.667em;

        a{
            display: inline-block;
        }
    }
}
.dashboard-widgets{
    @include list-unstyled;
    margin: 0.833em;

    .dashboard-widget{
        @include card;
        padding: 1em;
    }

    .dashboard-widgetcontainer {
        padding: 0.5em 0;

        &.dragover {
            border-top: 1px dashed #666;
        }
    }
}

.dashboard-widget-today {
    .weather {
        width: 220px;
        margin: 0 auto 2em auto;

        img {
            float: left;
            height: 8em;
            width: auto;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }

        .temperature {
            display: block;
            float: left;
            font-size: 5em;
            margin-left: 10px;
            width: 110px;
        }

        .city {
            display: block;
            float: left;
            margin-left: 14px;
            font-weight: bold;
        }
    }

    .stats {
        width: 220px;
        margin: 1em auto;
        font-size: 1.4em;

        .label {
            float: left;
            clear: left;
        }

        .value {
            font-weight: bold;
            float: right;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }
}

.dashboard footer {
    width: 90%;
    max-width: 60em;
    margin: 3em auto;
    text-align: center;

    color: #888;

    &::before {
        content: "";
        display: block;
        width: 70%;
        height: 1px;
        margin: 0 auto 1em;
        background-color: #aaa;
    }

    ul {
        margin: 0.5em 0;

        li {
            display: inline-block;
            margin: 0 1em;

            a {
                text-decoration: underline;

                &:hover {
                    color: #333;
                }
            }
        }
    }
}
