.dashboard-favorites,
.dashboard-shortcuts {
    font-size: 1.6em;
}

.dashboard-favorites{
    padding: 1em;

    li{
        margin: 0 1em;
    }
}
.dashboard-shortcuts {
    margin: 0 2em;

    li{
        margin-left: 1em;
    }
}
.dashboard-widgets{
    margin: 0.833em 3.2em;
}
