.CallHistoryFilter {
    &:after {
        content: "";
        display: block;
        clear: both;
    }


    .CallHistoryFilter-days, .CallHistoryFilter-minTimes {
        margin: 0 0 1em;

        div {
            display: inline-block;
            width: 30%;
        }

        input {
            width: 100%;
        }

        label {
            display: inline-block;
            padding: 3px 5px;
        }
    }

    .DateInput {
        float: left;
    }

    .CallHistoryFilter-after + .CallHistoryFilter-before {
        &:before {
            float: left;
            display: block;
            padding: 0 10px;
            content: "-";
        }
    }
}
