.CampaignFilter {
    &:after {
        display: block;
        content: "";
        clear: both;
    }

    .DateInput {
        float: left;
        input {
            @include input-base();
        }
    }

    .CampaignFilter-after + .CampaignFilter-before {

        &:before {
            @include icon($fa-var-minus);
            float: left;
            width: 10%;
            margin: 10px 0;
        }
    }
}
