.FilterBase {
    position: relative;
    @include card;
    padding: 3em 1em 1em;
    margin: 1em 0;

    label {
        margin: 0.5em 0;
        display: block;
        font-size: 1.2em;
    }

    > a {
        display: block;
        position: absolute;
        top: 0.5em;
        overflow: hidden;
        cursor: pointer;
        font-size: 1.5em;
        color: lighten($c-text, 70);

        &:hover {
            color: lighten($c-text, 50);            
        }

        &.FilterBase-removeButton {
            right: 0.5em;
            &::before {
                @include icon($fa-var-remove);
            }
        }

        &.FilterBase-moveButton {
            left: 0.5em;
            opacity: 0;
            cursor: grab;
            cursor: -webkit-grab;
            &::before {
                @include icon($fa-var-arrows);
            }
        }

    }
    &:hover {
        .FilterBase-moveButton {
            opacity: 1;
        }
    }
}
