.FilterList {
    .DropContainer {
        padding: 7px 0 8px;
    }

    .FilterList-addSection {
        @include ghost-placeholder();
        margin-bottom: 80px;
        select {
            margin: 0;
        }
    }
}
