.FilterOpSwitch {
    position: relative;
    width: 100px;
    height: 30px;

    margin-left: auto;
    margin-right: auto;

    li {
        position: absolute;
        background-color: $c-ui-dark;
        border-radius: 50%;

        transition: left 0.3s, right 0.3s, opacity 0.2s;
        cursor: pointer;

        color: white;
        font-size: 26px;
        text-align: center;
        font-size: 2em;
        &:hover {
            opacity: 1.0;
        }
    }

    .FilterOpSwitch-addOption {
        left: 34px;
        &::after {
            @include icon($fa-var-plus);
            margin-right: 0;
        }
    }

    .FilterOpSwitch-subOption {
        right: 34px;
        &::after {
            @include icon($fa-var-minus);
            margin-right: 0;
        }
    }

    &:hover {
        li {
        }

        .FilterOpSwitch-addOption {
            left: 16px;
        }

        .FilterOpSwitch-subOption {
            right: 16px;
        }
        &::after{ 
            opacity: 0;
        }
    }

    &.FilterOpSwitch-isAddState {
        .FilterOpSwitch-addOption {
            z-index: 2;
        }

        .FilterOpSwitch-subOption {
            z-index: 1;
            opacity: 0.4;
        }
    }

    &.FilterOpSwitch-isSubState {
        .FilterOpSwitch-addOption {
            z-index: 1;
            opacity: 0.4;
        }

        .FilterOpSwitch-subOption {
            z-index: 2;
        }
    }

    &::after {
        @include icon($fa-var-caret-down);
        position: absolute;
        right: 16px;
        top: 0;
        font-size: 1.2em;
        transition: opacity .2s;
    }
}
