.FilterTimeFrameSelect {
    .FilterTimeFrameSelect-days {
        margin: 0 0 1em;

        div {
            display: inline-block;
            width: 30%;
        }

        input {
            width: 100%;
        }

        label {
            display: inline-block;
            padding: 3px 5px;
        }
    }
}
