.CallList {

    width: 100%;

    @include medium-screen {
        max-width: 540px;
    }
    .ListHeader {
        li:nth-child(1) {
            @include col(7,12);
        }

        li:nth-child(2) {
            @include col(5,12);
        }
    }
}
