.CallListItem {
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    @include card;

    &:hover {
        background-color: darken($c-ui-bg, 1);
        cursor: pointer;
    }

    .Avatar {
        @include col(1,12, $align:middle);
        &:first-child {
            @include col(1,12, $align:middle, $first:true);
        }
    }

    .CallListItem-callIcon {
        @include col(1,12, $align:middle, $first:true);
        font-size: 2.5em;
        position: relative;
        &:before {
            @include icon($fa-var-phone);
            margin-right: 0;

        }
        &:after {
            @include icon($fa-var-arrow-right);
            font-size: 0.5em;
            position: absolute;
            right: 0.8em;
            top: 0.5em;
        }
    }

    .CallListItem-caller, .CallListItem-target {
        @include col(2,12, $align:middle);
        font-size: 1.5em;
    }

    .CallListItem-time {
        @include col(3,12, $align:middle);
        font-size: 1.4em;
        &:before {
            @include icon($fa-var-clock-o);
        }
    }

    .CallListItem-status {
        @include col(2,12, $align:middle, $last:true);
        text-align: center;
        font-size: 1.7em;

        & > span:before {
            border-radius: 2px;
            color: $c-text-contrast;
        }

        .CallListItem-stateAllocated:before {
            @include icon($fa-var-hourglass-half);
            background-color: $c-ui-dark;
        }
        .CallListItem-stateSuccess {
        &:before {
            @include icon($fa-var-check);
            background-color: $c-brand-success;

            // TODO: Remove these when done testing.
            //
            // @include icon($fa-var-undo);
            // color: $c-ui-dark;

            // @include icon($fa-var-minus-circle);
            // color: $c-brand-delete;

            // @include icon($fa-var-exclamation-triangle);
            // color: $c-brand-delete;
            }
        }
        .CallListItem-stateFailed:before {
            @include icon($fa-var-minus-circle);
            background-color: $c-brand-delete;
        }
        .CallListItem-stateLater:before {
            @include icon($fa-var-undo);
            background-color: $c-ui-dark;
        }
        .CallListItem-stateWarning:before {
            @include icon($fa-var-exclamation-triangle);
            background-color: $c-brand-delete;
        }
    }


}
