.ActionCalendar {

    .ActionDay {
        h4 {
            &:hover {
                &:after {
                    @include icon($fa-var-search-plus);
                    position: absolute;
                    right: 0;
                }
            }
        }
        &.today h4 {
            background-color: $c-brand-confirm;
            color: white;
        }
    }
    .ActionItem:after {
        @include icon($fa-var-ellipsis-v);
        font-size: 2em;
        width: 0.5em;
        position: absolute;
        color: #eee;
        top: calc(50% - 0.8em);
        right: 0.25em;
        cursor: -webkit-grab;
    }
}

@include medium-screen {
    .ActionCalendar{
        .ActionWeek {
            @include flex-container;

            h2 {
                font-size: 1.2em;
                font-weight: normal;
                width: 4%;
                margin-top: 0.5em;
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }
    }
}
