.ActionDay {
    h4{
        font-size: 11px;
        cursor: pointer;
    }
    h4 .date{
        font-weight: bold;
    }
    &.dragOver{
        background-color: #eee;

        .ActionDay-addButton {
            visibility: hidden;
        }
    }
}
.ActionDay-addButton {
    display: block;
    width: 100%;
    background-color: #eee;
    border-width: 0;
    cursor: pointer;
    text-align: center;
    color: #aaa;

    transition: opacity 0.3s 0.1s;

    &::before {
        @include icon($fa-var-plus);
    }

    &:hover {
        background-color: darken(#eee, 1);
    }
}
@include medium-screen {
    .ActionDay-addButton {
        visibility: hidden;
        opacity: 0;
    }
    .ActionDay:hover .ActionDay-addButton  {
        visibility: visible;
        opacity: 1;
    }
}
