.ActionMiniCalendar {
    background-color: #eee;
    height: 13em;

    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .ActionDay {
        display: inline-block;
        width: 5em;
        height: 100%;
        margin-left: 0.1em;
        vertical-align: top;
        border: 0;

        &:hover {
            background-color: darken(#eee, 2);
        }

        &.today {
            background-color: $c-brand-confirm;
            h4 {
                color: white;
                border:none;
            }

            hr {
                color: #333;
            }
        }

        h4 {
            margin: 0.5em 0;
            color: #999;
            transition: color 0.3s;
            padding: 0.3em;
            background-color: inherit;
            box-shadow: none;

            &:hover {
                color: #666;
                transition: color 0.1s;
            }
        }

        .date {
            display: block;
            font-size: 0.9em;
            text-align: center;
            padding: 0;
        }

        .weekday {
            display: none;
        }

        .cloneHint {
            display: none;
        }
    }

    .ActionDay-sat,
    .ActionDay-sun {
        background-color: #eaeaea;
    }

    .ActionDay-monthBegin {
        border-left: 1px solid #ccc;
    }

    .ActionItem,
    .ActionDayOverflow {
        position: relative;
        height: 2em;
        box-shadow: none;

        span {
            display: none;
        }

        &.highlight {
            &::after{
                opacity: 1;
            }
        }

        &:hover {
            &::after{
                opacity: 0.5;
            }
        }

        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            background-color: #51D0B3;
            transition: opacity 0.4s ease-in;
        }
    }

    .ActionDay-pseudoitem {
        height: 2em;
    }

    .ActionDay-addButton {
        background-color: #ddd;
        font-size: 0.8em;
    }
}
