.ActionDay {
    @include flex;
    border-left: 1px solid #F1F1F1;
    color: darken($c-ui-darker, 10);
    padding-bottom: 2em;
    position: relative;

    &:last-child {
        border-right: 1px solid #f4f4f4;
    }

    &:hover {
        background-color: darken($c-ui-bg, 1);
    }

    &:hover .ActionDay-addButton {
        opacity: 1;
        visibility: visible;
    }

    h4 {
        margin:0;
        padding: 0.8em 1em;
        background-color: white;
        color: #666;
        box-shadow: 0 0 0.1em rgba(0,0,0,0.1);

        .date {
            font-size: 1.2em;
            padding-right: 0.5em;
        }
    }

    .cloneHint {
        position: absolute;
        left: 1em;
        right: 1em;
        bottom: 1em;
        text-align: center;
        color: #999;

        @include medium-screen {
            display: none;
        }

        code {
            @include key-reference
            background-color: darken(#eee, 3);
        }
    }

    &.dragOver {
        background-color: #eee;

        .ActionDay-addButton {
            visibility: hidden;
        }
    }
}

.ActionDay-addButton {
    background-color: #eee;
    border-width: 0;
    color: #aaa;
    cursor: pointer;
    display: block;
    text-align: center;
    transition: opacity 0.3s 0.1s;
    width: 100%;
    visibility: hidden;
    opacity: 0;

    @include medium-screen {
        visibility: visible;
        opacity: 1;
    }

    &::before {
        @include icon($fa-var-plus);
    }

    &:hover {
        background-color: darken(#eee, 1);
    }
}
