.ActionCalendar{

    .ActionDay {
        position: relative;
        border-left: 1px solid #F1F1F1;
        padding-bottom: 2em;
        color: darken($c-ui-darker, 10);

        &:hover {
            background-color: darken($c-ui-bg, 1);
        }

        h4 {
            margin:0;
            padding: 0.8em 1em;
            background-color: white;
            color: #666;
            box-shadow: 0 0 0.1em rgba(0,0,0,0.1);

            .date {
                font-size: 1.2em;
                padding-right: 0.5em;
            }
            &:hover {
                &:after {
                    @include icon($fa-var-search-plus);
                    position: absolute;
                    right: 0;
                }
            }
        }
        .cloneHint {
            display: none;
        }
    }
    .ActionItem {
        position: relative;

        .location {
            display: block;
            font-size: 1.3em;
            font-weight: bold;
            margin: 0 0 0.4em;

            &::before {
                @include icon($fa-var-map-marker);
                display: block;
                float: left;
                width: 0.5em;
                height: 0.8em;
                margin: 0.2em 0.4em 0 0;
                font-size: .8em;
                line-height: 0.9;
            }
        }

        .activity {
            display: inline-block;
            font-size: 1.1em;
        }

        .time {
            display: inline-block;
            font-size: 1.1em;
            margin-right: 0.5em;
            float: left;
        }

        &::after {
            @include icon($fa-var-ellipsis-v);
            font-size: 2em;
            width: 0.5em;
            position: absolute;
            color: #eee;
            top: calc(50% - 0.8em);
            right: 0.25em;
            cursor: -webkit-grab;
        }
    }
}

@include medium-screen {
    .ActionCalendar{
        .ActionWeek {
            @include flex-container;

            h2 {
                font-size: 1.2em;
                font-weight: normal;
                width: 4%;
                margin-top: 0.5em;
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }
        .ActionDay {
            @include flex;

            &:last-child {
                border-right: 1px solid #f4f4f4;
            }

            &.today h4 {
                border: 1px solid #aaa;
            }

            .cloneHint {
                display: block;
                position: absolute;
                left: 1em;
                right: 1em;
                bottom: 1em;
                text-align: center;
                color: #999;

                code {
                    @include key-reference
                    background-color: darken(#eee, 3);
                }
            }
        }
    }
}
