.ActionItem{
    padding: 0.8em 1em;
    margin: 0 0 0.1em;
    background-color: white;
    box-shadow: 0 0 0.3em rgba(0,0,0,0.1);
    cursor: pointer;

    &:hover {
        background-color: darken(white, 2);
    }
}
// TRANSITIONS
.ActionItem-enter {
    opacity: 0;
}

.ActionItem-enter.ActionItem-enter-active {
    opacity: 1;
    transition: opacity 0.4s ease-in;
}

.ActionItem-leave {
    opacity: 1;
}

.ActionItem-leave.ActionItem-leave-active {
    opacity: 0;
    transition: opacity 0.2s;
}
