.actionlist {
    width: 60%;
    min-width: 640px;
}

.actionlist-columns {
    li:nth-child(3) {
        display: block;
        width: 8em;
        right: 24em;
    }

    li:nth-child(4) {
        display: block;
        width: 10em;
        right: 12em;
    }
}

.actionlist-item {
    overflow: hidden;

    div.contact {
        float: right;
        position: relative;
        background-color: #eee;
        width: 5em;
        height: 5em;
        margin-right: 4.5em;

        &::before {
            content: "?";
            display: block;
            margin-top: 0.5em;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 2.5em;
            font-weight: bold;
            color: #ccc;
        }
    }

    div.contact figure {
        position: absolute;
        top: 0;
        cursor: move;
    }

    ul.participants {
        display: block;
        min-height: 5em;
        float: right;
        width: 22em;

        li {
            float: left;
            width: 50px;
            height: 50px;
            margin: 0 2px 3px 3px;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    &.dragover {
        box-shadow: 0 0 0.2em rgba(0,0,0,0.2);
    }

    li.participant {
        cursor: move;

        &.hidden {
            display: none;
        }
    }

    li.more-participants {
        padding: 15px 2px;
        background-color: #eee;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: #ccc;
        cursor: pointer;

        &::before {
            content: "+";
        }
    }

    li.more-participants:hover {
        color: #aaa;
    }

    li.participant figure, div.contact figure {
        margin: 0;
    }

    li.participant img, div.contact img {
        width: 50px;
        height: auto;
    }
}
