.actionlist {
    width: 60%;
    min-width: 640px;
}

.actionlist-columns {
    li:nth-child(3) {
        display: block;
        width: 8em;
        right: 24em;
    }

    li:nth-child(4) {
        display: block;
        width: 10em;
        right: 12em;
    }
}

.actionlist-item {
    div.contact {
        float: right;
        position: relative;
        background-color: #ddd;
        width: 5em;
        height: 5em;
        margin-right: 4.5em;

        &::before {
            content: "?";
            display: block;
            margin-top: 0.5em;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 2.5em;
            font-weight: bold;
            color: #aaa;
        }
    }

    div.contact figure {
        position: absolute;
        top: 0;
        cursor: move;
    }

    ul.participants {
        display: block;
        position: relative;
        float: right;
        width: 22em;

        max-height: 50px;
        transition: max-height 0.3s;

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .participants {
        min-height: 50px;
    }

    &.expanded ul.participants {
        max-height: 400px;
    }

    /* Hide all but first three participants */
    li.participant:nth-child(1), li.participant:nth-child(2),
    li.participant:nth-child(3), li.participant:nth-child(3) + li.participant {
        display: block;
    }

    li.participant {
        display: none;
        position: relative;
        float: left;
        width: 50px;
        height: 50px;
        margin: 0 2px 3px;
        cursor: move;
    }

    &.expanded li.participant {
        display: block;
    }

    li.more-participants {
        width: 50px;
        height: 26px;
        padding: 13px 2px;
        background-color: #ddd;
        text-align: center;
        display: block;
        float: left;
        font-size: 22px;
        font-weight: bold;
        color: #ccc;
        cursor: default;
    }

    li.more-participants:hover {
        color: #aaa;
    }

    &.expanded li.more-participants {
        display: none;
    }

    li.participant figure, div.contact figure {
        margin: 0;
    }

    li.participant img, div.contact img {
        width: 50px;
        height: auto;
    }
}
