html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    font-size: 62.5%;

    font-family: Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

#main {
    position: fixed;
    overflow: hidden;
    top: 4.8em;
    left: 0;
    right: 0;
    bottom: 0;
}

.shortcutref {
    visibility: hidden;
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    & > div {
        // Hide all reference overlays
        visibility: hidden;
    }

    code {
        display: inline-block;
        background-color: #ccc;
        border-radius: 0.2em;
        padding: 0.2em;
        margin: 0.2em;
        font-size: 1.1em;
        color: black;
        text-align: center;
        min-width: 1.5em;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
    }

    // Navigation reference, shown when user is in navigation mode, i.e. when
    // they have first pressed 'g'. Could potentially be visible at the same
    // time as the main shortcut reference.
    &.shortcutref-navvisible {
        visibility: visible;

        // Shader should be a slight gradient from bottom
        &::before {
            opacity: 1.0;
            background: transparent linear-gradient(180deg, rgba(0,0,0,0) 80%, rgba(0,0,0,0.1));
        }

        .shortcutref-nav {
            visibility: visible;
            position: absolute;
            bottom: 1em;
            left: 1em;
            width: 30em;
            padding: 1em;
            background-color: rgba(0,0,0,0.3);
            border-radius: 4px;
            color: white;

            font-size: 1.1em;

            p {
                margin: 0 0 1em;
            }

            a {
                position: absolute;
                top: 1em;
                right: 1em;
                text-decoration: underline;
            }

            ul {
                margin: 0;
                padding: 0;

                -webkit-column-count: 3;

                li {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }
            }
        }
    }

    // Main shortcut reference. Shown when user presses '?'. This needs to be
    // styled after the nav reference, since the background styling of this
    // must have precedence for the shader to be right.
    &.shortcutref-mainvisible {
        visibility: visible;

        // Shader should be solid, semi-transparent and fullscreen
        &::before {
            background-color: black;
            opacity: 0.7;
        }

        .shortcutref-main {
            visibility: visible;
            position: absolute;
            left: 50%;
            top: 50%;

            width: 400px;
            height: 300px;
            margin-left: -200px;
            margin-top: -200px;

            background-color: white;
        }
    }
}
