html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;

    font-family: Arial, sans-serif;
}

#main {
    position: fixed;
    overflow: hidden;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}
