
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: $c-ui-bg;
    font-size: 11px;
    font-family: franklin-gothic-urw, sans-serif;
}

#main {
    position: absolute;
    top: 4.8em;
    right: 0;
    left: 0;
}
h1, h2, h3, h4 {
    font-family: 'azo-sans-web', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: darken($c-text, 5);
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
// Not good but here for now
ul {
    @include list-unstyled;
}

button, input[type="button"], a.btn, a.Button {
    @include inline-button;

    &.add{
        @include icon-button($fa-var-plus);
    }
    &.add-person{
        position: relative;
        @include icon-button($fa-var-user-plus);
    }
    &.add-map-marker{
        position: relative;
        @include icon-button-add($fa-var-map-marker)
    }
}

@include medium-screen {
    html {
        overflow: hidden;
    }

    body {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #main {
        position: fixed;
        overflow: hidden;
        top: 4.8em;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
