html {
    overflow: hidden;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#main {
    position: fixed;
    overflow: hidden;
    top: 4.8em;
    left: 0;
    right: 0;
    bottom: 0;
}
