@mixin list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin card {
    color: #333;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

@mixin page {
    max-width: 30em;
    margin: 0 auto;
}

@mixin input-base {
    font-size: 1.25em;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 0 auto 10px;
    width: 100%;
    &:focus{
        outline: none;
        border-color: #ccc;
    }
}

@mixin button {
    font-size: 1.25em;
    border-width: 0;
    display: inline-block;
    padding: 0.5em;
    background-color: $c-brand-complement;
    color: $c-text-contrast;
    &:hover,
    &:focus{
        outline: none;
        color: $c-ui-focus;
    }
}

@mixin key-reference {
    font-family: 'Consolas', 'Courier New', 'monospace';
    display: inline-block;
    background-color: #ddd;
    color: #666;
    border-radius: 0.4em;
    padding: 0.3em .4em 0.1em;
    min-width: 2.5em;
    line-height: 1.4;
    text-align: center;
}

@mixin icon($fa-character) {
    @include fa-icon;
    text-align: center;
    height: 1.6em;
    width: 1.6em;
    line-height: 1.6;
    content: $fa-character;
}

@mixin icon-button($fa-character) {
    width: 3em;
    padding: .35em 1em .25em;
    text-align: center;
    display: inline-block;
    color: transparent;
    overflow: hidden;
    &::before{
        @include icon($fa-character);
        display: inline;
        color: $c-ui-darker;
    }
}
@mixin icon-button-add($fa-character) {
    @include icon-button($fa-character);
    padding: .35em .75em .25em;
    &::after{
        @include icon($fa-var-plus);
        color: $c-ui-darker;
        position: absolute;
        right: .25em;
        top: .4em;
    }
}

@mixin flex-container($direction: row, $wrapping: none){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;

    -webkit-flex-wrap: $wrapping;
    -ms-flex-wrap: $wrapping;
    flex-wrap: $wrapping;
}
@mixin flex($number: 1){
    -webkit-box-flex: $number;
    -webkit-flex: $number;
    -ms-flex: $number;
    flex: $number;
}
@mixin justify-content($justification: space-around){
    -webkit-justify-content: $justification;
    -ms-justify-content: $justification;
    justify-content: $justification;
}
@mixin align-items($alignment: flex-start){
    -webkit-align-items: $alignment;
    align-items: $alignment;
}

@mixin medium-screen {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large-screen {
  @media only screen and (min-width: #{$large-width}) {
    @content;
  }
}
