@mixin list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin card {
    color: #333;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

@mixin page {
    max-width: 30em;
    margin: 0 auto;
}

@mixin input-base {
    font-size: 1.25em;
    border-width: 0;
    margin: 0 auto;
    width: 100%;
    &:focus{
        outline: none;
        border-color: $c-ui-focus;
    }
}

@mixin button {
    font-size: 1.25em;
    border-width: 0;
    display: inline-block;
    padding: 0.5em;
    background-color: $c-brand-complement;
    color: $c-text-contrast;
    &:hover,
    &:focus{
        outline: none;
        color: $c-ui-focus;
    }
}

@mixin key-reference {
    font-family: 'Consolas', 'Courier New', 'monospace';
    display: inline-block;
    background-color: #ddd;
    color: #666;
    border-radius: 0.4em;
    padding: 0.3em .4em 0.1em;
    min-width: 2.5em;
    line-height: 1.4;
    text-align: center;
}

@mixin icon($fa-character) {
    @include fa-icon;
    text-align: center;
    height: 1.6em;
    width: 1.6em;
    line-height: 1.6;
    content: $fa-character;
}

@mixin icon-button($fa-character) {
    width: 3em;
    padding: .35em 1em .25em;
    text-align: center;
    display: inline-block;
    color: transparent;
    overflow: hidden;
    &::before{
        @include icon($fa-character);
        display: inline;
        color: $c-ui-darker;
    }
}
