/* Colors */
$c-brand-main: #ee323e;
$c-brand-main-pink: #ed1c55;
$c-brand-main-orange: #ef4123;

$c-brand-comp-light: #48baeb;
$c-brand-comp-dark: #3598c5;

$c-brand-confirm: $c-brand-comp-light;
$c-brand-delete: #F64A50;   // red
$c-brand-success: #41EF5A;  // green

$c-text: #000;
$c-text-contrast: #FFF;

$c-ui-focus: #FFC400;

$c-ui-bg: rgb(248, 248, 248);
$c-ui-dark: darken($c-ui-bg, 30);
$c-ui-darker: darken($c-ui-bg, 50);

// Responsive breakpoints
$medium-width: 720px;
$large-width: 1024px;
