html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #ddd;
    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

h1 {
    // todo: define vertical rythm
}
h2 {
    // todo: define vertical rythm
    font-size: 1.5rem;
}
h2, h3, h4 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}
// Not good but here for now
ul {
    @include list-unstyled;
}
button{
    border: 1px solid $c-ui-dark;
    background-color: $c-ui-bg;
    padding: .25em .5em;
    cursor: pointer;
    &.add{
        @include icon-button($fa-var-plus);
    }
    &.add-person{
        @include icon-button($fa-var-user-plus);
    }
    &.add-map-marker{
        @include icon-button-add($fa-var-map-marker)
    }
    &.calendar{
        @include icon-button($fa-var-calendar);
    }
    &.list{
        @include icon-button($fa-var-list-alt);
    }
    &.map{
        @include icon-button($fa-var-map-o);
    }
}

@include medium-screen {
    html {
        overflow: hidden;
    }

    body {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
