.PersonViewAddRow {
    .PersonSelectWidget {
        margin-left: -10px;

        input {
        }

        ul {
            top: auto;
            bottom: 50px;
            font-size: 1em;
        }
    }

    td:nth-child(3) {
        div {
            max-width: 21.75rem;
        }
    }
}

