.PersonViewTable {
    .person_tag {
        width: 8em;
        text-align: center;
    }

    .person_field {
        width: 14rem;
        max-width: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
