.PersonViewTableHead {
    th {
        padding: 0.5em;

        font-size: 0.8em;
        font-weight: normal;
        text-align: left;
    }
}

.PersonViewTableHead-column {
    background-color: white;
}
