.PersonViewTableRow-avatar {
    height: 2.2rem;
    min-height: 2.2rem;
    text-align: center;

    .Avatar {
        width: 2.2rem;
        height: 2.2rem;
        cursor: pointer;
    }
}

.PersonViewTableRow-saved {
    text-align: center;
    cursor: pointer;

    &:before {
        @include icon($fa-var-star-o);
    }

    &:hover {
        &:before {
            color: $c-brand-comp-dark;
        }
    }
}

.PersonViewTableRow-placeholder {
    min-width: 12rem;
    max-width: 12rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.PersonViewTableRow {
    td {
        font-size: 1.2em;
    }

    &.saved {
        .PersonViewTableRow-saved {
            width: 2.2rem;
            min-width: 2.2rem;
            max-width: 2.2rem;

            &:before {
                @include icon($fa-var-star);
                color: $c-brand-comp-dark;
            }

            &:hover {
                &:before {
                    color: $c-ui-dark;
                }
            }
        }
    }
}
