.PersonViewAddRow {
    .PersonSelectWidget {
        margin-left: -10px;

        input {
        }

        ul {
            top: auto;
            bottom: 50px;
            font-size: 1em;
        }
    }
}
