.PersonViewTableHead {
    @include large-screen {
        position: absolute;
        left: 0;
    }

    th {
        padding: 0.4rem 0.4rem;
        border-left: 1px solid $c-ui-bg;

        font-weight: normal;
        text-align: left;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        cursor: pointer;

        &:first-of-type {
            border-left-width: 0;
        }
    }

    .PersonViewTableHead-column {
        position: relative;

        &:before {
            content: "";
            display: inline-block;
            width: 0;
            opacity: 0;

            transition: width 0.1s, opacity 0.1s 0.05s;
        }

        &:hover {
            &:before {
                @include icon($fa-var-pencil);
                font-size: 0.9em;
                opacity: 1;
            }

            .PersonViewTableHead-columnSort {
                opacity: 1.0;
            }
        }

        .PersonViewTableHead-columnSort {
            opacity: 0;
            display: block;
            position: absolute;
            right: 0.2rem;
            top: 0.2rem;
            bottom: 0.2rem;
            padding-top: 0.2rem;
            padding-left: 0.1rem;
            background-color: rgba(white, 0.9);

            transition: opacity 0.4s;

            &:before {
                opacity: 0.5;
                @include icon($fa-var-sort);
            }

            &:hover {
                &:before {
                    opacity: 1.0;
                }
            }
        }

        &.sorted {
            .PersonViewTableHead-columnSort {
                opacity: 1.0;

                &:before {
                    opacity: 1.0;
                    @include icon($fa-var-sort-asc);
                }
            }

            &.inverted {
                .PersonViewTableHead-columnSort:before {
                    @include icon($fa-var-sort-desc);
                }
            }
        }
    }

    .PersonViewTableHead-newColumn {
        min-width: 12rem;
        max-width: 12rem;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        border: 2px dashed rgba(0,0,0, 0.2);
        color: $c-ui-dark;

        cursor: pointer;

        transition: color 0.2s, border-color 0.2s;

        &:hover {
            color: $c-ui-darker;
            border-color: rgba(0,0,0, 0.3);

            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 110%;
                left: 0;
                right: 0;
                height: 8em;
                background: linear-gradient(180deg, rgba(0,0,0,0.02), rgba(0,0,0,0));
            }
        }
    }
}

th.PersonViewTableHead-avatarColumn,
th.PersonViewTableHead-savedColumn {
    $w: 36px;

    width: $w;
    min-width: $w;
    max-width: $w;
    padding: 0;
    background-color: white;
    text-align: center;
}

.PersonViewTableHead-savedColumn {
    text-align: center;
    &:before {
        @include icon($fa-var-star-o);
        color: $c-ui-darker;
    }
}

.PersonViewTableHead-column {
    background-color: white;
    color: $c-ui-darker;
}
