.ActionForm {
    .Form-start_time {
        float: left;
        margin-right: 1em;
    }

    .Form-end_time {
        width: 30%;
        float: left;
    }

    .Form-num_participants_required {
        clear: left;
    }
}
